.modal-body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col {
  flex: 1;
  text-align: center;
}

.rectangle {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ff204e;

  &:hover {
    border-width: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }

  &.active {
    border-width: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
}
span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.blue,
.red {
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

.blue {
  background: white;
  color: #ff204e;
}

.red {
  background: #ff204e;
  color: white;
}
.btn-primary {
  background: white;
  color: #ff204e;
  border: 1px solid #ff204e;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 160px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
