<div class="bracket-container" *ngIf="matchesWithCompetitors.length>0">
  <div class="bracket">
    <div class="column col-six eighths">
      <div class="column col-six quarters1">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{(eights1$ | async)?.matchNumber}}
              </span>
            </div>
            <div class="match-competitors" *ngIf="(eights1$ | async) as eights1">
              <div class="competitor blue" [ngClass]="{'won': eights1.blueRounds === 2}">
                <span class="clubCode">{{ (eights1$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (eights1$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(eights1)">{{(eights1$ | async)?.blueRounds}}</span>

              </div>
              <div class="competitor red" [ngClass]="{'won': eights1.redRounds === 2}">
                <span class="clubCode">{{ (eights1$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (eights1$ | async)?.redCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(eights1)">{{(eights1$ | async)?.redRounds}}</span>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{(eights2$ | async)?.matchNumber}}
              </span>
            </div>
            <div class="match-competitors" *ngIf="(eights2$ | async) as eights2">
              <div class="competitor blue won">
                <span class="clubCode">{{ (eights2$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (eights2$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(eights2)">{{(eights2$ | async)?.blueRounds}}</span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match nonDisplay">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match nonDisplay">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
      <div class="column col-six quarters2">
        <div class="match nonDisplay">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match nonDisplay">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match nonDisplay">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match nonDisplay">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-six quarters">
      <div class=" semis1">
        <div class="cont2">
          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">{{(quarters1$ | async)?.matchNumber}}
                </span>
              </div>
              <div class="match-competitors" *ngIf="(quarters1$ | async) as quarters1">
                <div class="competitor blue" [ngClass]="{'won': quarters1.blueRounds === 2}">
                  <span class="clubCode">{{ (quarters1$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters1$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters1)">{{(quarters1$ | async)?.blueRounds}}</span>

                </div>
                <div class="competitor red" [ngClass]="{'won': quarters1.redRounds === 2}">
                  <span class="clubCode">{{ (quarters1$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters1$ | async)?.redCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters1)">{{(quarters1$ | async)?.redRounds}}</span>

                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>

          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">{{(quarters2$ | async)?.matchNumber}}
                </span>
              </div>
              <div class="match-competitors" *ngIf="(quarters2$ | async) as quarters2">
                <div class="competitor blue" [ngClass]="{'won': quarters2.blueRounds === 2}">
                  <span class="clubCode">{{ (quarters2$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters2$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters2)">{{(quarters2$ | async)?.blueRounds}}</span>

                </div>
                <div class="competitor red" [ngClass]="{'won': quarters2.redRounds === 2}">
                  <span class="clubCode">{{ (quarters2$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters2$ | async)?.redCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters2)">{{(quarters2$ | async)?.redRounds}}</span>

                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>

          </div>
        </div>
      </div>
      <div class=" semis2">
        <div class="cont2">
          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">{{(quarters3$ | async)?.matchNumber}}
                </span>
              </div>
              <div class="match-competitors" *ngIf="(quarters3$ | async) as quarters3">
                <div class="competitor blue" [ngClass]="{'won': quarters3.blueRounds === 2}">
                  <span class="clubCode">{{ (quarters3$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters3$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters3)">{{(quarters3$ | async)?.blueRounds}}</span>

                </div>
                <div class="competitor red" [ngClass]="{'won': quarters3.redRounds === 2}">
                  <span class="clubCode">{{ (quarters3$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters3$ | async)?.redCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters3)">{{(quarters3$ | async)?.redRounds}}</span>

                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>

          </div>

          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">{{(quarters4$ | async)?.matchNumber}}
                </span>
              </div>
              <div class="match-competitors" *ngIf="(quarters4$ | async) as quarters4">
                <div class="competitor blue" [ngClass]="{'won': quarters4.blueRounds === 2}">
                  <span class="clubCode">{{ (quarters4$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters4$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters4)">{{(quarters4$ | async)?.blueRounds}}</span>

                </div>
                <div class="competitor red" [ngClass]="{'won': quarters4.redRounds === 2}">
                  <span class="clubCode">{{ (quarters4$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                  <span class="name">{{ (quarters4$ | async)?.redCompetitor?.participant?.fullName }}</span>
                  <span class="score" *ngIf="showScore(quarters4)">{{(quarters4$ | async)?.redRounds}}</span>

                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="column col-six semis">
      <div class="cont">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{(semiFinal1$ | async)?.matchNumber}}
              </span>
            </div>
            <div class="match-competitors" *ngIf="(semiFinal1$ | async) as semiFinal1">
              <div class="competitor blue" [ngClass]="{'won': semiFinal1.blueRounds === 2}">
                <span class="clubCode">{{ (semiFinal1$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (semiFinal1$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                <span *ngIf="showScore(semiFinal1)" class="score">{{(semiFinal1$ |
                  async)?.blueRounds}}</span>

              </div>
              <div class="competitor red" [ngClass]="{'won': semiFinal1.redRounds === 2}">
                <span class="clubCode">{{ (semiFinal1$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (semiFinal1$ | async)?.redCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(semiFinal1)">{{(semiFinal1$ |
                  async)?.redRounds}}</span>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{(semiFinal2$ | async)?.matchNumber}}
              </span>
            </div>
            <div class="match-competitors" *ngIf="(semiFinal2$ | async) as semiFinal2">
              <div class="competitor blue" [ngClass]="{'won': semiFinal2.blueRounds === 2}">
                <span class="clubCode">{{ (semiFinal2$ | async)?.blueCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (semiFinal2$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(semiFinal2)">{{(semiFinal2$ | async)?.blueRounds}}</span>

              </div>
              <div class="competitor red" [ngClass]="{'won': semiFinal2.redRounds === 2}">
                <span class="clubCode">{{ (semiFinal2$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (semiFinal2$ | async)?.redCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(semiFinal2)">{{(semiFinal2$ | async)?.redRounds}}</span>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-six final">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">{{(final$ | async)?.matchNumber}}
            </span>
          </div>
          <div class="match-competitors" *ngIf="(final$ | async) as final">
            <div class="match-competitors" *ngIf="(final$ | async) as final">
              <div class="competitor blue" [ngClass]="{'won': final.blueRounds === 2}">
                <span class="name">{{ (final$ | async)?.blueCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(final)">{{(final$ | async)?.blueRounds}}</span>

              </div>
              <div class="competitor red">
                <span class="clubCode">{{ (final$ | async)?.redCompetitor?.participant?.clubCode }}</span>
                <span class="name">{{ (final$ | async)?.redCompetitor?.participant?.fullName }}</span>
                <span class="score" *ngIf="showScore(final)">{{(final$ | async)?.redRounds}}</span>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-six win">
      <div class="match">
        <div class="competitor winner">
          <span class="clubCode">{{(winner$ | async)?.blueCompetitor?.participant?.clubCode}}</span>
          <span class="name">{{(winner$ | async)?.blueCompetitor?.participant?.fullName}}</span>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>