.header-container {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 50px;
}
.nombre-campeonato {
  color: white;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-logo {
  color: white;
  font-weight: bold;
}

.btn {
  padding-top: 0;
  padding-bottom: 0;
}
i {
  color: white;
  padding-left: 8px;
}
.center {
  display: flex;
  align-items: center;
  width: 300px;
}
.logo {
  justify-content: center;
}
