<ng-container *ngIf="championship.championshipId===0">
  <header class='header-container-l'>
    <div class="center logo">
      <span class="text-logo">TkdHub</span>
    </div>
    <button *ngIf="token" class="btn btn-outline-success" (click)="logOut()">Logout</button>
  </header>
</ng-container>

<ng-container *ngIf="championship.championshipId!=0">
  <header class='header-container'>
    <div class="center">
      <!-- <i class="fa fa-chevron-left" aria-hidden="true" (click)="goBack()"></i> -->
      <div class="center logo">
        <p class="text-logo">TkdHub</p>
      </div>
    </div>
    <div class="bot">
      <div class="championship-name">
        <span class="cn">{{championship.championshipName}}</span>
      </div>
    </div>
    <div class="center">
      <ng-container *ngIf="!inLogin()">
        <div *ngIf="isOrganizer()" class="login-container" (click)="logOut()">
          <span class="roll">Organizador</span>
          <span class="logOut">Cerrar Sesión</span>
        </div>
        <div *ngIf="!isOrganizer()" class="login-container" (click)="goToLogin()">
          <span class="roll">INGRESAR</span>
        </div>
      </ng-container>
    </div>
  </header>
</ng-container>