<ng-container *ngIf="championship.championshipId===0">
  <header class='header-container-l'>
    <div class="center logo" (click)="goHome()">
      <span class="text-logo">Tkd</span>
      <span class="text-logo-2">Hub</span>
    </div>
    <button *ngIf="token" class="btn btn-outline-success" (click)="logOut()">Logout</button>
    <div *ngIf="getRoleType()==='Administrator'" class="login-container" (click)="logOut()">
      <span class="roll">Administrador</span>
      <span class="logOut">Cerrar Sesión</span>
    </div>
  </header>
</ng-container>

<ng-container *ngIf="championship.championshipId!=0">
  <header class='header-container'>
    <div class="center">
      <div class="center logo" (click)="goHome()">
        <span class="text-logo">Tkd</span>
        <span class="text-logo-2">Hub</span>
      </div>
    </div>
    <div class="bot">
      <div class="championship-name">
        <span class="cn">{{championship.championshipName}}</span>
      </div>
    </div>
    <div class="center">
      <ng-container *ngIf="!inLogin()">
        <div *ngIf="getRoleType()==='Organizer'" class="login-container" (click)="logOut()">
          <span class="roll">Organizador</span>
          <span class="logOut">Cerrar Sesión</span>
        </div>
        <div *ngIf="getRoleType()==='Coach'" class="login-container" (click)="logOut()">
          <span class="roll">Coach</span>
          <span class="logOut">Cerrar Sesión</span>
        </div>
        <div *ngIf="getRoleType()==='Scorer'" class="login-container" (click)="logOut()">
          <span class="roll">Anotador</span>
          <span class="logOut">Cerrar Sesión</span>
        </div>
        <div *ngIf="getRoleType()==='Administrator'" class="login-container" (click)="logOut()">
          <span class="roll">Administrador</span>
          <span class="logOut">Cerrar Sesión</span>
        </div>
        <div *ngIf="getRoleType()===''" class="login-container" (click)="goToLogin()">
          <span class="roll">INGRESAR</span>
        </div>
      </ng-container>
    </div>
  </header>
</ng-container>