.header-container-l {
  background: #ff204e;
  display: flex;
  justify-content: left;
  padding: 0 10px;

  align-items: center;
  justify-content: space-between;
}
.header-container {
  background: #ff204e;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  height: 90px;

  //align-items: center;
  justify-content: space-between;
}
.championship-name {
  background-color: white;
  width: 288px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 16px 0px 0px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-logo {
  color: white;
  font-family: "Jomhuria", sans-serif;
  font-weight: 400;
  font-size: 80px;
  height: 108px;
}
.text-logo-2 {
  color: black;
  font-family: "Jomhuria", sans-serif;
  font-weight: 400;
  font-size: 80px;
  height: 108px;
}

.cn {
  font-family: "Inter", sans-serif;
  font-size: 29px;
  line-height: 35.1px;
  font-weight: 700;
  //width: min-content;
  width: 200px;
  display: block;
  text-align: center;
}

.btn {
  padding-top: 0;
  padding-bottom: 0;
}
i {
  color: white;
  padding-left: 8px;
}
.center {
  display: flex;
  align-items: center;
  width: 300px;
}
.bot {
  display: flex;
  align-items: flex-end;
}
.logo {
  justify-content: center;
  cursor: pointer;
}
.login-container {
  cursor: pointer;
  width: 182px;
  height: 46px;
  top: 22px;
  left: 1238px;
  border-radius: 8px 8px 8px 8px;
  background-color: #ff8ba3;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.roll {
  color: white;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.logOut {
  color: #e0e0e0;
  font-weight: 400;
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
