.gradient-custom-2 {
  background: linear-gradient(to right, #ff204e, #a0153e);
}
.gradient-form {
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}

.text-white {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-L {
  font-size: 24px;
}

.text-M {
  font-size: 20px;
}

.form-outline {
  input {
    border: 1px solid #00224d;
    box-shadow: none;
  }
}

input {
  &:focus {
    border: 2px solid #00224d;
  }
}
.btn-outline-primary {
  border-color: #6d88a1;
}
.col-lg-6 {
  border-radius: 32px 32px 32px 32px;
}
.rounded-3 {
  border-radius: 32px !important;
}
.text-logo {
  color: white;
  font-family: "Jomhuria", sans-serif;
  font-weight: 400;
  font-size: 80px;
  height: 108px;
}

.text-logo-2 {
  color: black;
  font-family: "Jomhuria", sans-serif;
  font-weight: 400;
  font-size: 80px;
  height: 108px;
}
.btn-primary {
  background: white;
  color: #a0153e;
  border: 1px solid #a0153e;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 240px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  padding-top: 20px !important;
}
