<div class="slider-container">
  <div *ngFor="let c of cant; let i = index" class="slide" [class.active]="i === currentSlideIndex">
    <img [src]="'./../../../../../assets/fondos/wp' + (i + 1) + '.jpg'" alt="Slide {{i + 1}}">
  </div>
</div>

<div class="rectangulo-container">
  <ng-container *ngFor="let championship of displayedChampionships">
    <div class="rectangulo">
      <div class="informacion">
        <span class="titulo">{{championship.championshipName}}</span>
        <span class="date">{{formatFecha(championship.championshipDate)}}</span>
        <ng-container [ngSwitch]="championship.stage">
          <!-- Tus casos ngSwitch -->
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<div class="text-center">
  <button class="btn btn-primaryS mt-3" (click)="loadMoreChampionships()">Ver Más</button>
</div>