.championship-title {
  text-align: center;
}

.rectangulo-container {
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 40px;
  justify-content: center;
  justify-items: center;
}

.rectangulo {
  padding-top: 4px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 500px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 16px 16px 16px 16px;
}

.informacion {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  margin: 0;
}
.date {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
.status {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}

.slider-container {
  width: 100%;
  height: 80vh; /* Ajusta la altura según tu preferencia */
  overflow: hidden;
  position: relative;
  background: black;

  display: flex; /* Alineación horizontal */
  justify-content: center; /* Centrado horizontal */
  text-align: center; /* Centrado horizontal para elementos inline */

  margin-bottom: 20px;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.btn-primaryS {
  width: 242px;
  height: 39px;
  background: #ff204e;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.text-center {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
