<div class='championship-container'>
  <h1>Que Edades Participaran En El Campeonato</h1>

  <div class="rectangulo" *ngFor="let championship of championships"
    (click)="navigateToChampionship(championship.championshipId)">
    <div class="informacion">
      <p class="titulo">{{championship.name}}</p>
      <p class="descripcion">Organizador: {{championship.organizer}}</p>
      <p class="descripcion">Fecha del Campeonato: {{championship.championshipDate | date:'dd/MM/yyyy'}}</p>
    </div>
  </div>
</div>