<div class="buttons">
  <button class="mx-1 btn btn-outline-primary btn-block text-L" (click)="createMatches()">Crear Llave</button>
</div>
<div class="bracket-container" *ngIf="matchesWithCompetitors.length>0">
  <div class="bracket">
    <div class="column col-six eighths">
      <div class="column col-six quarters1">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights1.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights1.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights1.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights1.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights2.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights2.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights2.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights2.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">123
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights3.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights3.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights3.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights3.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights4.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights4.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights4.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights4.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
      <div class="column col-six quarters2">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights5.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights5.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights5.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights5.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights6.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights6.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights6.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights6.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights7.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights7.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights7.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights7.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights8.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights8.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights8.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights8.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-six quarters">
      <div class=" semis1">
        <div class="cont2">
          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>

          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>
        </div>
      </div>
      <div class=" semis2">
        <div class="cont2">
          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>

          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-six semis">
      <div class="cont">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-six final">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode"></span>
              <span class="name"></span>
              <span class="score"></span>
            </div>
            <div class="competitor red">
              <span class="clubCode"></span>
              <span class="name"></span>
              <span class="score"></span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column col-six win">
      <div class="match">
        <div class="competitor winner">
          <span class="clubCode"></span>
          <span class="name"></span>
          <span class="score"></span>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>