<div class="bracket">
  <div class="column eighths">
    <div class="column quarters1">
      <div class="match">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Jhonathan Campero</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Fabricio Pahirumani</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor3</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor4</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor5</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor6</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor7</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor8</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
    <div class="column quarters2">
      <div class="match">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor9</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor10</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor11</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor12</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor13</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor14</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor15</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor16</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="column quarters">
    <div class=" semis1">
      <div class="cont2">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span>12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor17</span>
                <span class="score">2</span>
              </div>
              <div class="competitor red">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor18</span>
                <span class="score">1</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span>12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor19</span>
                <span class="score">2</span>
              </div>
              <div class="competitor red">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor20</span>
                <span class="score">1</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class=" semis2">
      <div class="cont2">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span>12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor1</span>
                <span class="score">2</span>
              </div>
              <div class="competitor red">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor2</span>
                <span class="score">1</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span>12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor3</span>
                <span class="score">2</span>
              </div>
              <div class="competitor red">
                <span class="clubCode">LIN</span>
                <span class="name">Competidor4</span>
                <span class="score">1</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column semis">
    <div class="cont">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor1</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor2</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor3</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor4</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="column final">
    <div class="match ">
      <div class="match-container">
        <div class="match-number">
          <span>12
          </span>
        </div>
        <div class="match-competitors">
          <div class="competitor blue">
            <span class="clubCode">LIN</span>
            <span class="name">Competidor2</span>
            <span class="score">2</span>
          </div>
          <div class="competitor red">
            <span class="clubCode">LIN</span>
            <span class="name">Competidor8</span>
            <span class="score">1</span>
          </div>
        </div>
      </div>
      <div class="match-lines">
        <div class="line horizontal"></div>
        <div class="line vertical"></div>
      </div>
      <div class="match-lines alt">
        <div class="line horizontal"></div>
      </div>
    </div>
  </div>

  <div class="column win">
    <div class="match winner ">
      <div class="match- competitor">
        <span class="clubCode">LIN</span>
        <span class="name">Competidor8</span>
        <span class="score"></span>
      </div>
      <div class="match-lines alt">
        <div class="line horizontal"></div>
      </div>
    </div>
  </div>
</div>