<div *ngIf="championship">
  <div *ngIf="championship.stage==='InitialConfiguration'">
    <div *ngIf="displayWeights">
      <div class="table-responsive">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th class="names">Edad</th>
                <th class="ages">Minima Edad</th>
                <th class="ages">Maxima Edad</th>
                <th class="weights">Pesos</th>
                <th class="actions">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let age of ages" class="text-S">
                <td>
                  <div *ngIf="age.isEdit">
                    <input class="form-control text-S" type="text" [(ngModel)]="age.ageIntervalName">
                  </div>
                  <div *ngIf="!age.isEdit">
                    {{ age.ageIntervalName }}
                  </div>
                </td>
                <td>
                  <div *ngIf="age.isEdit">
                    <input class="form-control text-S" type="text" [(ngModel)]="age.minAge">
                  </div>
                  <div *ngIf="!age.isEdit">
                    {{ age.minAge }}
                  </div>
                </td>
                <td>
                  <div *ngIf="age.isEdit">
                    <input class="form-control text-S" type="text" [(ngModel)]="age.maxAge">
                  </div>
                  <div *ngIf="!age.isEdit">
                    {{ age.maxAge }}
                  </div>
                </td>
                <td>
                  <div class="action-button">
                    <i class="fa fa-table" aria-hidden="true" (click)="seeWeights(age)"></i>
                  </div>
                </td>
                <td class="action-column">
                  <div class="action-button" *ngIf="!age.isEdit">
                    <i class="fa fa-pencil px-2" aria-hidden="true" (click)="onEditAge(age)"></i>
                  </div>
                  <div class="action-button" *ngIf="!age.isEdit">
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteAge(age)"></i>
                  </div>
                  <div class="action-button" *ngIf="age.isEdit">
                    <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEditAge(age)"></i>
                  </div>
                  <div class="action-button" *ngIf="age.isEdit">
                    <i class="fa fa-times-circle" aria-hidden="true" (click)="cancelEditAge(age)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="table-responsive mt-4">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th class=" names">Nombre</th>
                <th class=" grades">Grado Mínimo</th>
                <th class=" grades">Grado Máximo</th>
                <th class="actions">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories" class="text-S">
                <td>
                  <div *ngIf="category.isEdit">
                    <input class="form-control text-S" type="text" [(ngModel)]="category.categoryName">
                  </div>
                  <div *ngIf="!category.isEdit">
                    {{ category.categoryName }}
                  </div>
                </td>
                <td>
                  <div *ngIf="category.isEdit">
                    <select class="form-select" [(ngModel)]="category.gradeMin">
                      <option *ngFor="let grade of validGrades" [value]="grade">{{ grade }}</option>
                    </select>
                  </div>
                  <div *ngIf="!category.isEdit">
                    {{ category.gradeMin }}
                  </div>
                </td>
                <td>
                  <div *ngIf="category.isEdit">
                    <select class="form-select" [(ngModel)]="category.gradeMax">
                      <option *ngFor="let grade of validGrades" [value]="grade">{{ grade }}</option>
                    </select>
                  </div>
                  <div *ngIf="!category.isEdit">
                    {{ category.gradeMax }}
                  </div>


                <td class="action-column">
                  <div class="action-button" *ngIf="!category.isEdit">
                    <i class="fa fa-pencil px-2" aria-hidden="true" (click)="onEditCategory(category)"></i>
                  </div>
                  <div class="action-button" *ngIf="!category.isEdit">
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteCategory(category)"></i>
                  </div>
                  <div class="action-button" *ngIf="category.isEdit">
                    <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEditCategory(category)"></i>
                  </div>
                  <div class="action-button" *ngIf="category.isEdit">
                    <i class="fa fa-times-circle" aria-hidden="true" (click)="cancelEditCategory(category)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primaryS mt-3" (click)="openModal(modalContent)">Confirmar</button>
      </div>

    </div>
  </div>

  <div *ngIf="championship.stage!='InitialConfiguration'">
    <div *ngIf="displayWeights">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th class="names">Edad</th>
              <th class="ages">Minima Edad</th>
              <th class="ages">Maxima Edad</th>
              <th class="weights">Pesos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let age of ages" class="text-S">
              <td>
                {{ age.ageIntervalName }}
              </td>
              <td>
                {{ age.minAge }}
              </td>
              <td>
                {{ age.maxAge }}
              </td>
              <td>
                <div class="action-button">
                  <i class="fa fa-table" aria-hidden="true" (click)="seeWeights(age)"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-container mt-4">
        <table class="table">
          <thead>
            <tr>
              <th class=" names">Nombre</th>
              <th class=" grades">Grado Mínimo</th>
              <th class=" grades">Grado Máximo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories" class="text-S">
              <td>
                <div *ngIf="category.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="category.categoryName">
                </div>
                <div *ngIf="!category.isEdit">
                  {{ category.categoryName }}
                </div>
              </td>
              <td>
                <div *ngIf="category.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="category.gradeMin">
                </div>
                <div *ngIf="!category.isEdit">
                  {{ category.gradeMin }}
                </div>
              </td>
              <td>
                <div *ngIf="category.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="category.gradeMax">
                </div>
                <div *ngIf="!category.isEdit">
                  {{ category.gradeMax }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ALERTA</h4>
  </div>
  <div class="modal-body">
    <div class='form-input-container'>
      <div class='description'>
        <label>Verifique que los datos esten correctos.</label>
        <label>No se podra modificar una vez que se confirme.</label>
      </div>
      <div class="botones">
        <button class="btn btn-primary" (click)="c('Close')">Cancelar</button>
        <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="!displayWeights">
  <app-weight-selector [ageInterval]="ageSelected" (returnToAgeSelector)="displayWeights= true">
  </app-weight-selector>
</div>