@import "./../../pages/championship-configuration/championship-configuration.component.scss";

.table {
  border: 1px solid #b6b6b6;
  border-collapse: separate;
  border-radius: 8px 8px 0px 0px;
  width: 840px;
}

th {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

td {
  font-weight: 300;
  font-size: 16px;
  color: #2f2f2f;
}
i {
  color: #00224d;
  font-size: 24px;
}
.action-button {
  cursor: pointer;
  width: 65px;
  height: 30px;

  border-radius: 4px 4px 4px 4px;
  background-color: #f2f2f2;
  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid #b6b6b6;
}
.action-column {
  display: flex;
  justify-content: space-around;
}
.actions {
  width: 160px;
}
.weights {
  width: 100px;
}
.ages {
  width: 160px;
}
.names {
  width: 260px;
}
.table-responsive {
  display: flex;
  justify-content: center;
  width: 840px;
}
.text-center {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
