<div class="bracket-container">
  <div class="bracket">
    <div class="column semis">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">{{ semiFinal1.blueCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal1.blueCompetitor.Participant.firstNames }}
                {{ semiFinal1.blueCompetitor.Participant.lastNames }}</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">{{ semiFinal1.redCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal1.redCompetitor.Participant.firstNames }}
                {{ semiFinal1.redCompetitor.Participant.lastNames }}</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors"
            *ngIf="semiFinal2.blueCompetitor.competitorId !=semiFinal2.redCompetitor.competitorId">
            <div class="competitor blue">
              <span class="clubCode">{{ semiFinal2.blueCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal2.blueCompetitor.Participant.firstNames }}
                {{ semiFinal2.blueCompetitor.Participant.lastNames }}</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">{{ semiFinal2.redCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal2.redCompetitor.Participant.firstNames }}
                {{ semiFinal2.redCompetitor.Participant.lastNames }}</span>
              <span class="score">1</span>
            </div>
          </div>

          <div class="match-competitors"
            *ngIf="semiFinal2.blueCompetitor.competitorId === semiFinal2.redCompetitor.competitorId">
            <div class="competitor blue">
              <span class="clubCode">{{ semiFinal2.redCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal2.redCompetitor.Participant.firstNames }}
                {{ semiFinal2.redCompetitor.Participant.lastNames }}</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode"></span>
              <span class="name">Bye</span>
              <span class="score">0</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column final">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode"></span>
              <span class="name"></span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">{{final.redCompetitor.Participant.clubCode}}</span>
              <span class="name">{{final.redCompetitor.Participant.firstNames}}
                {{final.redCompetitor.Participant.lastNames}}</span>
              <span class="score"></span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column four">
      <div class="match">
        <div class="competitor winner">
          <span class="clubCode">LIN</span>
          <span class="name">Competidor3</span>
          <span class="score"></span>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>