@import "./../../pages/bracket-draw/bracket-draw.component.scss";

.column:nth-child(2) .line.vertical {
  display: none;
}

.match-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
