<div class="bracket-container">
  <div class="bracket">
    <div class="column semis">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor1</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor2</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor3</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor4</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column final">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor1</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Competidor3</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column four">
      <div class="match">
        <div class="competitor winner">
          <span class="clubCode">LIN</span>
          <span class="name">Competidor3</span>
          <span class="score"></span>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>