<div>
  <div class="theme">
    <div class="bracket">
      <div class="column one">
        <div class="match winner-top">
          <div class="contenedor ">
            <div class="match-number">
              <span>12
              </span>
            </div>
            <div class="match2">
              <div class="match-top team">
                <span class="clubCode">LIN</span>
                <span class="name">Orlando</span>
                <span class="score">2</span>
              </div>
              <div class="match-bottom team">
                <span class="clubCode">LIN</span>
                <span class="name">Senators</span>
                <span class="score">1</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>

        <div class="match winner-bottom">
          <div class="match-top team">
            <span class="clubCode">LIN</span>
            <span class="name">New Orleans</span>
            <span class="score">1</span>
          </div>
          <div class="match-bottom team">
            <span class="clubCode">LIN</span>
            <span class="name">West Virginia</span>
            <span class="score">2</span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>

        <div class="match winner-top">
          <div class="match-top team">
            <span class="clubCode">LIN</span>
            <span class="name">Denver Demon</span>
            <span class="score">2</span>
          </div>
          <div class="match-bottom team">
            <span class="clubCode">LIN</span>
            <span class="name">Chicago Pistons</span>
            <span class="score">0</span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>

        <div class="match winner-top">
          <div class="match-top team">
            <span class="clubCode">LIN</span>
            <span class="name">San Francisco</span>
            <span class="score">2</span>
          </div>
          <div class="match-bottom team">
            <span class="clubCode">LIN</span>
            <span class="name">Seattle Climbers</span>
            <span class="score">1</span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>

      <div class="column two">
        <div class="match winner-bottom">
          <div class="match-top team">
            <span class="clubCode">LIN</span>
            <span class="name">Orlando </span>
            <span class="score">1</span>
          </div>
          <div class="match-bottom team">
            <span class="clubCode">LIN</span>
            <span class="name">West Virginia </span>
            <span class="score">2</span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>

        <div class="match winner-bottom">
          <div class="match-top team">
            <span class="clubCode">LIN</span>
            <span class="name">Denver Demon </span>
            <span class="score">1</span>
          </div>
          <div class="match-bottom team">
            <span class="clubCode">LIN</span>
            <span class="name">San Francisco </span>
            <span class="score">2</span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>

      <div class="column three">
        <div class="match winner-top">
          <div class="match-top team">
            <span class="clubCode">LIN</span>
            <span class="name">West Virginia </span>
            <span class="score">3</span>
          </div>
          <div class="match-bottom team">
            <span class="clubCode">LIN</span>
            <span class="name">San Francisco </span>
            <span class="score">2</span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>

      <div class="column four">
        <div class="match winner-top">
          <div class="match-top team">
            <span class="clubCode"></span>
            <span class="name">Final Winner</span>
            <span class="score"></span>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>