.bloque {
  display: flex;
  flex-direction: column;
}
.bloque > * {
  margin-bottom: 300px; /* Puedes ajustar el valor del margen según sea necesario */
}
.bracket-container {
  width: 100%;
  background-color: aqua;
  display: flex;
}
.bracket {
  padding: 20px;
  display: flex;
  background-color: bisque;
}

.column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-around;
  align-content: center;
}
.match {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: 62px;
  margin: 12px 24px 12px 0;
}

.match-competitors {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 62px;
  width: 100%;
  overflow: hidden;
}

.match-competitors > * {
  white-space: nowrap;
}
.competitor {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

.competitor span {
  padding-left: 8px;
}

.competitor span:last-child {
  padding-right: 4px;
}
.score {
  margin-left: auto;
}

.match-lines {
  display: block;
  position: absolute;
  top: 50%;
  bottom: 0;
  margin-top: 0px;
  right: -1px;
}

.line {
  background: black;
  position: absolute;
  border-bottom: 4px solid black;
}

.line.horizontal {
  height: 1px;
  width: 13px;
  left: -1px;
}

.match-lines.alt {
  left: -12px;
}
.match-number {
  display: flex;
  align-items: center;
  width: 24px;
  border: 1px solid black;
  font-size: 16px;
  padding-left: 2px;
}

.winner {
  height: 32px;
  background: #a1a16d;
}
.blue {
  background: #6d88a1;
}
.red {
  background: #a16d6d;
}

.line.vertical {
  height: 44px;
  width: 1px;
  left: 11px;
}
.match:nth-child(even) .line.vertical {
  transform: translate(0, -100%);
}
