<div class="buttons">
  <button class="mx-1 btn btn-outline-primary btn-block text-L" *ngIf="matchesWithCompetitors.length===0"
    (click)="createMatches()">Crear Llave</button>
</div>
<div>
  <div class="bracket-container">
    <div class="bracket">
      <div class="column quarters">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{quarters1.matchNumber}}
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <ng-container *ngIf="quarters1">
                  <span class="clubCode">{{ quarters1.blueCompetitor.participant.clubCode }}</span>
                  <span class="name">{{ quarters1.blueCompetitor.participant.fullName }}</span>
                </ng-container>
                <ng-container *ngIf="!quarters1">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                </ng-container>

                <ng-container *ngIf="quarters1">
                  <div class="select-wrapper" *ngIf="editingBracket===quarters1.blueCompetitor.competitorId">
                    <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                      <option value="">Intercambiar con:</option>
                      <ng-container *ngFor="let competitor of bracket.competitors">
                        <ng-container *ngIf="competitor.competitorId !== quarters1.blueCompetitor.competitorId">
                          <option [value]="competitor.competitorId">
                            {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                            competitor.participant.lastNames }}
                          </option>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                  <div class="icons">
                    <i *ngIf="editingBracket===quarters1.blueCompetitor.competitorId && selectedCompetitorId"
                      class="fa fa-floppy-o px-2" aria-hidden="true"
                      (click)="confirmEdit(quarters1.matchId,quarters1.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                    <i *ngIf="editingBracket===''" (click)="editCompetitor(quarters1.blueCompetitor.competitorId)"
                      class="fa fa-sort px-2" aria-hidden="true"></i>
                    <i *ngIf="editingBracket===quarters1.blueCompetitor.competitorId" (click)="cancelEdit()"
                      class="fa fa-times-circle px-2" aria-hidden="true"></i>
                  </div>
                </ng-container>
              </div>
              <div class="competitor red">
                <ng-container *ngIf="quarters1">
                  <span class="clubCode">{{ quarters1.redCompetitor.participant.clubCode }}</span>
                  <span class="name">{{ quarters1.redCompetitor.participant.fullName }}</span>
                </ng-container>
                <ng-container *ngIf="!quarters1">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                </ng-container>

                <ng-container *ngIf="quarters1">
                  <div class="select-wrapper" *ngIf="editingBracket===quarters1.redCompetitor.competitorId">
                    <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                      <option value="">Intercambiar con:</option>
                      <ng-container *ngFor="let competitor of bracket.competitors">
                        <ng-container *ngIf="competitor.competitorId !== quarters1.redCompetitor.competitorId">
                          <option [value]="competitor.competitorId">
                            {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                            competitor.participant.lastNames }}
                          </option>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                  <div class="icons">
                    <i *ngIf="editingBracket===quarters1.redCompetitor.competitorId && selectedCompetitorId"
                      class="fa fa-floppy-o px-2" aria-hidden="true"
                      (click)="confirmEdit(quarters1.matchId,quarters1.redCompetitor.competitorId,selectedCompetitorId)"></i>
                    <i *ngIf="editingBracket===''" (click)="editCompetitor(quarters1.redCompetitor.competitorId)"
                      class="fa fa-sort px-2" aria-hidden="true"></i>
                    <i *ngIf="editingBracket===quarters1.redCompetitor.competitorId" (click)="cancelEdit()"
                      class="fa fa-times-circle px-2" aria-hidden="true"></i>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{quarters2.matchNumber}}
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <ng-container *ngIf="quarters2">
                  <span class="clubCode">{{ quarters2.blueCompetitor.participant.clubCode }}</span>
                  <span class="name">{{ quarters2.blueCompetitor.participant.fullName }}</span>
                </ng-container>
                <ng-container *ngIf="!quarters2">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                </ng-container>

                <ng-container *ngIf="quarters2">
                  <div class="select-wrapper" *ngIf="editingBracket===quarters2.blueCompetitor.competitorId">
                    <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                      <option value="">Intercambiar con:</option>
                      <ng-container *ngFor="let competitor of bracket.competitors">
                        <ng-container *ngIf="competitor.competitorId !== quarters2.blueCompetitor.competitorId">
                          <option [value]="competitor.competitorId">
                            {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                            competitor.participant.lastNames }}
                          </option>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                  <div class="icons">
                    <i *ngIf="editingBracket===quarters2.blueCompetitor.competitorId && selectedCompetitorId"
                      class="fa fa-floppy-o px-2" aria-hidden="true"
                      (click)="confirmEdit(quarters2.matchId,quarters2.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                    <i *ngIf="editingBracket===''" (click)="editCompetitor(quarters2.blueCompetitor.competitorId)"
                      class="fa fa-sort px-2" aria-hidden="true"></i>
                    <i *ngIf="editingBracket===quarters2.blueCompetitor.competitorId" (click)="cancelEdit()"
                      class="fa fa-times-circle px-2" aria-hidden="true"></i>
                  </div>
                </ng-container>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>


        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{quarters3.matchNumber}}
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <ng-container *ngIf="quarters3">
                  <span class="clubCode">{{ quarters3.blueCompetitor.participant.clubCode }}</span>
                  <span class="name">{{ quarters3.blueCompetitor.participant.fullName }}</span>
                  <div class="select-wrapper" *ngIf="editingBracket===quarters3.blueCompetitor.competitorId">
                    <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                      <option value="">Intercambiar con:</option>
                      <ng-container *ngFor="let competitor of bracket.competitors">
                        <ng-container *ngIf="competitor.competitorId !== quarters3.blueCompetitor.competitorId">
                          <option [value]="competitor.competitorId">
                            {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                            competitor.participant.lastNames }}
                          </option>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                  <div class="icons">
                    <i *ngIf="editingBracket===quarters3.blueCompetitor.competitorId && selectedCompetitorId"
                      class="fa fa-floppy-o px-2" aria-hidden="true"
                      (click)="confirmEdit(quarters3.matchId,quarters3.blueCompetitor.competitorId,selectedCompetitorId)"></i>
                    <i *ngIf="editingBracket===''" (click)="editCompetitor(quarters3.blueCompetitor.competitorId)"
                      class="fa fa-sort px-2" aria-hidden="true"></i>
                    <i *ngIf="editingBracket===quarters3.blueCompetitor.competitorId" (click)="cancelEdit()"
                      class="fa fa-times-circle px-2" aria-hidden="true"></i>
                  </div>
                </ng-container>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{quarters4.matchNumber}}
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <ng-container *ngIf="quarters4">
                  <span class="clubCode">{{ quarters4.blueCompetitor.participant.clubCode }}</span>
                  <span class="name">{{ quarters4.blueCompetitor.participant.fullName }}</span>
                </ng-container>
                <ng-container *ngIf="quarters4">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                </ng-container>
                <ng-container *ngIf="quarters4">
                  <div class="select-wrapper" *ngIf="editingBracket===quarters4.blueCompetitor.competitorId">
                    <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                      <option value="">Intercambiar con:</option>
                      <ng-container *ngFor="let competitor of bracket.competitors">
                        <ng-container *ngIf="competitor.competitorId !== quarters4.blueCompetitor.competitorId">
                          <option [value]="competitor.competitorId">
                            {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                            competitor.participant.lastNames }}
                          </option>
                        </ng-container>
                      </ng-container>
                    </select>
                  </div>
                  <div class="icons">
                    <i *ngIf="editingBracket===quarters4.blueCompetitor.competitorId && selectedCompetitorId"
                      class="fa fa-floppy-o px-2" aria-hidden="true"
                      (click)="confirmEdit(quarters4.matchId,quarters4.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                    <i *ngIf="editingBracket===''" (click)="editCompetitor(quarters4.blueCompetitor.competitorId)"
                      class="fa fa-sort px-2" aria-hidden="true"></i>
                    <i *ngIf="editingBracket===quarters4.blueCompetitor.competitorId" (click)="cancelEdit()"
                      class="fa fa-times-circle px-2" aria-hidden="true"></i>
                  </div>
                </ng-container>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>

      <div class="column semis">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{semiFinal1.matchNumber}}
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>

              </div>
              <div class="competitor red">
                <ng-container *ngIf="semiFinal1">
                  <span class="clubCode">{{semiFinal1.redCompetitor.participant.clubCode}}</span>
                  <span class="name">{{semiFinal1.redCompetitor.participant.fullName}}</span>
                </ng-container>
                <ng-container *ngIf="!semiFinal1">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                </ng-container>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">{{semiFinal2.matchNumber}}
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <ng-container *ngIf="semiFinal2">
                  <span class="clubCode">{{ semiFinal2.blueCompetitor.participant.clubCode }}</span>
                  <span class="name">{{ semiFinal2.blueCompetitor.participant.fullName }}</span>
                </ng-container>
              </div>
              <div class="competitor red">
                <ng-container *ngIf="semiFinal2">
                  <span class="clubCode">{{semiFinal2.redCompetitor.participant.clubCode}}</span>
                  <span class="name">{{semiFinal2.redCompetitor.participant.fullName}}</span>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>

      <div class="column final">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>

              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>

              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
      <div class="column four">
        <div class="match">
          <div class="competitor winner">
            <span class="clubCode"></span>
            <span class="name"></span>

          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>