.gradient-custom-2 {
  background: #6d88a1;
  background: -webkit-linear-gradient(to right, #6d88a1 #8fadcc);

  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  }
}

.text-L {
  font-size: 24px;
}

.text-M {
  font-size: 20px;
}

.form-outline {
  input {
    border-color: #ff8b7a; // Establece el color del borde del input a rojo
  }
}
.btn {
  &:hover {
    background-color: #6d88a1; // Cambia el color de fondo al pasar el mouse
  }
}
.btn-outline-primary {
  border-color: #6d88a1;
}
