<div class="container mt-5">
  <div class="cont eC mb-4">
    <span class=" title ">Hola {{rol}}, por favor crea tu contraseña</span>
  </div>
  <div class="cont eC mb-4">
    <form #championshipForm="ngForm" class="formC">
      <div class="mb-3 eC">
        <label for="email" class="form-label email">Email Registrado: {{email}}</label>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña: </label>
        <input type="password" class="form-control" id="password1" name="password1" ngModel required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Repita la Contraseña: </label>
        <input type="password" class="form-control" id="password2" name="password2" ngModel required>
      </div>
      <div class="mb-3">
        <span class="alert" *ngIf="differentPasswords">Las contraseñas no coinciden</span>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" (click)="submitForm(championshipForm)">Crear</button>
      </div>

    </form>
  </div>
</div>