<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="./../../../../../assets/tkd_logo.jpg" style="width: 185px;" alt="logo">
                  <span class="mt-1 pb-1 n">{{rol}}: {{email}}</span>
                  <span class="mt-1 mb-5 pb-1">Cree una contraseña para su cuenta por favor</span>
                </div>
                <form>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="password1" type="password" id="password1" name="username"
                      class="form-control text-M" />
                    <label class="form-label text-M">Contraseña</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="password2" type="password" id="password2" name="password"
                      class="form-control text-M" />
                    <label class="form-label text-M">Repita la contraseña</label>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button (click)="submitForm()" class="btn btn-primary  " type="button ">Crear</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <span class="text-logo">Tkd</span>
                <span class="text-logo-2">Hub</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>