.formC {
  background: #f4f4f4;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: justify;
}
.form-control:focus {
  border-color: #5d0e41;
  box-shadow: none;
  background-color: #ff204e33;
}
.btn-primary {
  width: 242px;
  height: 39px;
  background: #ff204e;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.container {
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.email {
  font-weight: 400;
}
.eC {
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 26px;
}
.cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.alert {
  color: #ff204e;
}
form {
  width: 60%;
}
