<div class="buttons">
  <button class="mx-1 btn btn-outline-primary btn-block text-L" *ngIf="matchesWithCompetitors.length===0"
    (click)="createMatches()">Crear Llave</button>
</div>
<div class="bracket-container">
  <div class="bracket">
    <div class="column semis">
      <div class="match">
        <div class="match-container">
          <div class="match-number">
            <span class="number">{{semiFinal1.matchNumber}}
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <ng-container *ngIf="semiFinal1">
                <span class="clubCode">{{ semiFinal1.blueCompetitor.participant.clubCode }}</span>
                <span class="name">{{ semiFinal1.blueCompetitor.participant.fullName }}</span>

                <div class="select-wrapper" *ngIf="editingBracket===semiFinal1.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== semiFinal1.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                          competitor.participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===semiFinal1.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(semiFinal1.matchId,semiFinal1.blueCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(semiFinal1.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===semiFinal1.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </ng-container>
            </div>
            <div class="competitor red">
              <ng-container *ngIf="semiFinal1">
                <span class="clubCode">{{ semiFinal1.redCompetitor.participant.clubCode }}</span>
                <span class="name">{{ semiFinal1.redCompetitor.participant.fullName }}</span>
                <div class="select-wrapper" *ngIf="editingBracket===semiFinal1.redCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== semiFinal1.redCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                          competitor.participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===semiFinal1.redCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(semiFinal1.matchId,semiFinal1.redCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(semiFinal1.redCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===semiFinal1.redCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>

      <div class="match">
        <div class="match-container">
          <div class="match-number">
            <span class="number">{{semiFinal2.matchNumber}}
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <ng-container *ngIf="semiFinal2">
                <span class="clubCode">{{ semiFinal2.blueCompetitor.participant.clubCode }}</span>
                <span class="name">{{ semiFinal2.blueCompetitor.participant.fullName }}</span>
                <div class="select-wrapper" *ngIf="editingBracket===semiFinal2.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== semiFinal2.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.participant.clubCode }} - {{ competitor.participant.firstNames }} {{
                          competitor.participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===semiFinal2.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(semiFinal2.matchId,semiFinal2.blueCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(semiFinal2.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===semiFinal2.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </ng-container>
            </div>
            <div class="competitor red">
              <span class="clubCode"></span>
              <span class="name">Bye</span>
            </div>
          </div>

        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column final">
      <div class="match">
        <div class="match-container">
          <div class="match-number">
            <span class="number">{{final.matchNumber}}
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode"></span>
              <span class="name"></span>
            </div>
            <ng-container *ngIf="final">
              <div class="competitor red">
                <span class="clubCode">{{ final.redCompetitor.participant.clubCode }}</span>
                <span class="name">{{ final.redCompetitor.participant.fullName }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="!final">
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column four">
      <div class="match">
        <div class="competitor winner">
          <span class="clubCode"></span>
          <span class="name"></span>

        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>