<div class="col-12">
  <div class="participants mt-4 mb-2">
    <div class="mb-3">
      <input type="text" class="form-control" id="filtroTexto" [(ngModel)]="textoFiltro" (input)="aplicarFiltroTexto()"
        placeholder="Ingrese texto de filtro">
    </div>
    <p class="cant">Cantidad de Participantes: {{ participantsFilter.length }}</p>
    <button class="mx-1 btn btn-outline-primary  btn-block text-S" (click)="verificateAll()">Confirmar
      Todos</button>
  </div>
</div>
<div class="row col-12">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg text-white">
          <th (click)="toggleOrder('clubCode')">Club
            <span *ngIf="orderBy === 'clubCode' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'clubCode' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal'">⇅</span>
          </th>
          <th (click)="toggleOrder('lastNames')">Apellidos
            <span *ngIf="orderBy === 'lastNames' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'lastNames' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal' ">⇅</span>
          </th>
          <th (click)="toggleOrder('firstNames')">Nombres
            <span *ngIf="orderBy === 'firstNames' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'firstNames' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal'">⇅</span>
          </th>
          <th (click)="toggleOrder('age')">Edad
            <span *ngIf="orderBy === 'age' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'age' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal'">⇅</span>
          </th>
          <th (click)="toggleOrder('weight')">Peso
            <span *ngIf="orderBy === 'weight' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'weight' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal'">⇅</span>
          </th>
          <th (click)="toggleOrder('grade')">Grado
            <span *ngIf="orderBy === 'grade' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'grade' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal'">⇅</span>
          </th>
          <th (click)="toggleOrder('gender')">Sexo
            <span *ngIf="orderBy === 'gender' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'gender' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderBy !== 'gender' && orderDirection === 'normal'">⇅</span>
          </th>
          <th (click)="toggleOrder('verified')">Acciones
            <span *ngIf="orderBy === 'verified' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
            <span *ngIf="orderBy === 'verified' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
            <span *ngIf="orderDirection === 'normal'">⇅</span>
          </th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of participantsFilter">
          <td>{{ participant.clubCode }}</td>
          <td>{{ participant.lastNames }}</td>
          <td>{{ participant.firstNames }}</td>
          <td>{{ participant.age }}</td>
          <td>{{ participant.weight }}</td>
          <td>{{ participant.grade }}</td>
          <td>{{ participant.gender }}</td>
          <td class="buttons">
            <div>
              <div>
              </div>
              <div>
                <span *ngIf="participant.verified">Verificado</span>
                <i class="fa fa-check-circle" aria-hidden="true" *ngIf="!participant.verified"
                  (click)="verificateParticipant(participant)"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="mx-1 btn btn-outline-primary btn-block text-L" (click)="returnToSummary()">Volver</button>
  </div>
</div>