<div class="w-80 col-md-8 mx-auto">
  <table border="1" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Inscrito Ci</th>
        <th>Código Club</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Edad</th>
        <th>Peso</th>
        <th>Grado</th>
        <th>Sexo</th>
        <th>Verificado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participantsFilter">
        <td>{{ participant.participantCi }}</td>
        <td>{{ participant.clubCode }}</td>
        <td>{{ participant.lastNames }}</td>
        <td>{{ participant.firstNames }}</td>
        <td>{{ participant.age }}</td>
        <td>{{ participant.weight }}</td>
        <td>{{ participant.grade }}</td>
        <td>{{ participant.gender }}</td>
        <td>
          <span *ngIf="participant.verified; else notVerified">Peso verificado</span>
          <ng-template #notVerified>Peso no verificado</ng-template>
          <button (click)="verificateParticipant(participant)">Cambiar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="returnToSummary()">Volver</button>
</div>