<div class="col-12">
  <div class="participants mt-4 mb-2">
    <div>
      <label for="filtroSexo">Filtrar por Sexo:</label>
      <select class="form-select-sm" id="filtroSexo" [formControl]="filtroSexo" (change)="filter()">
        <option value="Todos">Todos</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
    </div>
    <div>
      <label for="filtroClub">Filtrar por Club:</label>
      <select class="form-select-sm" id="filtroClub" [formControl]="filtroClub" (change)="filter()">
        <option value="Todos">Todos</option>
        <option *ngFor="let club of clubs" [value]="club.clubCode">{{ club.clubCode }}</option>
      </select>
    </div>
    <div>
      <label for="filtroEdad">Filtrar por Edad:</label>
      <select class="form-select-sm" id="filtroEdad" [formControl]="filtroEdad" (change)="filter()">
        <option value="Todos">Todos</option>
        <!-- Iterar sobre los intervalos de edades -->
        <option *ngFor="let intervalo of ageIntervals" [value]="intervalo.ageIntervalId">
          {{ intervalo.ageIntervalName }} ({{ intervalo.minAge }} - {{ intervalo.maxAge }})
        </option>
      </select>
    </div>
    <div>
      <label for="filtroPeso">Filtrar por Division:</label>
      <select class="form-select-sm" id="filtroPeso" [formControl]="filtroPeso" (change)="filter()">
        <option value="Todos">Todos</option>
        <ng-container *ngFor="let division of divisionsFilter">
          <!-- Filtrar las divisiones basadas en el intervalo de edad seleccionado -->
          <option [ngValue]="{ min: division.minWeight, max: division.maxWeight }"
            *ngIf="isDivisionWithinAgeIntervalC(division, filtroEdad.value, this.filtroEdad.value)">
            {{ division.divisionName }} ({{ division.minWeight }} - {{ division.maxWeight }} kg)
          </option>
        </ng-container>
      </select>
    </div>
    <p class="cant">Cantidad de Participantes: {{ participantsFilter.length }}</p>
    <button class="mx-1 btn btn-outline-primary  btn-block text-L" (click)="verificateAll()">Confirmar
      Todos</button>
  </div>
</div>
<div class="row col-12">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="bg text-white">
          <th>Club</th>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Grado</th>
          <th>Sexo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of participantsFilter">
          <td>{{ participant.clubCode }}</td>
          <td>{{ participant.lastNames }}</td>
          <td>{{ participant.firstNames }}</td>
          <td>{{ participant.age }}</td>
          <td>{{ participant.weight }}</td>
          <td>{{ participant.grade }}</td>
          <td>{{ participant.gender }}</td>
          <td class="buttons">
            <div>
              <div>

              </div>
              <div>
                <span *ngIf="participant.verified">Verificado</span>
                <i class="fa fa-check-circle" aria-hidden="true" *ngIf="!participant.verified"
                  (click)="verificateParticipant(participant)"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="mx-1 btn btn-outline-primary btn-block text-L" (click)="returnToSummary()">Volver</button>
  </div>
</div>