<div *ngIf="championship">
  <h4 class="text-center pb-4 pt-2">Progreso del Campeonato</h4>
</div>
<div class='progress-bar-container'>
  <div class="container">
    <div class="progress-container">
      <div class="progress" id="progress"> </div>
      <div class="circle active">1</div>
      <div class="circle">2</div>
      <div class="circle">3</div>
      <div class="circle">4</div>
      <div class="circle">5</div>
      <div class="circle">6</div>
      <div class="circle">7</div>
      <div class="circle">8</div>
      <div class="circle">9</div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center mt-4">
  <div class="row col-10">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="bg text-white">
            <th>Etapa</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-S">
            <td>1</td>
            <td>Configura las Divisiones y Categorias.</td>
            <td *ngIf="stage<=1">Pendiente</td>
            <td *ngIf="stage>1">Realizado</td>
            <td>
              <div *ngIf="stage<=1">
                <i class="fa fa-cog" aria-hidden="true" (click)="goToChampionshipConfiguration()"></i>
                Configurar
              </div>
              <div *ngIf="stage>1">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToChampionshipConfiguration()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>2</td>
            <td>Registra a los Clubes y Entrenadores</td>
            <td *ngIf="stage<=2">Pendiente</td>
            <td *ngIf="stage>2">Realizado</td>
            <td>
              <div *ngIf="stage===2">
                <i class="fa fa-user-plus px-2" aria-hidden="true" (click)="goToTraineeRegistration()"></i>
                Configurar
              </div>
              <div *ngIf="stage>2">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToTraineeRegistration()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>3</td>
            <td>Los entrenadores de cada club estan Inscribiendo a sus Competidores.</td>
            <td *ngIf="stage<=3">Pendiente</td>
            <td *ngIf="stage>3">Realizado</td>
            <td>
              <div *ngIf="stage >= 3 ">
                <i class="fa fa-eye px-2" aria-hidden="true"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>4</td>
            <td>Pesaje: Valida los datos de cada uno de los Competidores.</td>
            <td *ngIf="stage<=4">Pendiente</td>
            <td *ngIf="stage>4">Realizado</td>
            <td>
              <div *ngIf="stage === 4 ">
                <i class="fa fa-check-square-o px-2" aria-hidden="true" (click)="goToParticipantValidation()"></i>
                Validar
              </div>
              <div *ngIf="stage >4 ">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToParticipantValidation()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>5</td>
            <td>Creacion y edicion de las Agrupaciones.</td>
            <td *ngIf="stage<=5">Pendiente</td>
            <td *ngIf="stage>5">Realizado</td>
            <td>
              <div *ngIf="stage === 5 ">
                <i class="fa fa-pencil px-2" aria-hidden="true" *ngIf="stage === 5"
                  (click)="goToCompetitorsGrouping()"></i>
                Definir
              </div>
              <div *ngIf="stage >5 ">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToCompetitorsGrouping()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>6</td>
            <td>Creacion y edicion de las Llaves</td>
            <td *ngIf="stage<=6">Pendiente</td>
            <td *ngIf="stage>6">Realizado</td>
            <td>
              <div *ngIf="stage === 6 ">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToBracketDraw()"></i>
                Definir
              </div>
              <div *ngIf="stage >6 ">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToBracketDraw()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>7</td>
            <td>Registro de los Responsables, ellos son encargados de registrar a los ganadores de cada combate.</td>
            <td *ngIf="stage<=7">Pendiente</td>
            <td *ngIf="stage>7">Realizado</td>
            <td>
              <div *ngIf="stage === 7 ">
                <i class="fa fa-user-plus px-2" aria-hidden="true" (click)="goToResponsibleRegistration()"></i>
                Definir
              </div>
              <div *ngIf="stage >7 ">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToResponsibleRegistration()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class=" text-S">
            <td>8</td>
            <td>Registrando de los ganadores de cada combate.</td>
            <td *ngIf="stage<=8">Pendiente</td>
            <td *ngIf="stage>8">Realizado</td>
            <td>
              <div *ngIf="stage >8 ">
                <i class="fa fa-eye px-2" aria-hidden="true" (click)="goToBracketResults()"></i>
                Ver
              </div>
            </td>
          </tr>
          <tr class="text-S">
            <td>9</td>
            <td>Fin del campeonato.</td>
            <td *ngIf="stage<=9">Pendiente</td>
            <td *ngIf="stage>9">Realizado</td>
            <td>
              <i class="fa fa-file-text-o" aria-hidden="true" *ngIf="stage === 9"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>