.text-L {
  font-size: 24px;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.container {
  display: flex;
  justify-content: center;
}

.progress-container::before {
  content: "";
  background: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  width: 80%;
}

.progress {
  background: #5d0e41;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background: #fff;
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #5d0e41;
}

.btn {
  background-color: #5d0e41;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.table-responsive {
  display: flex;
  justify-content: center;
}

.table-container {
  width: 60%;
  border: 1px solid #b6b6b6;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden; /* Para ocultar el borde de la tabla */
}

.table {
  width: 100%;
  margin: 0;
}

th {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

td {
  font-weight: 300;
  font-size: 16px;
  color: #2f2f2f;
}
i {
  color: #00224d;
  font-size: 24px;
}
.action-button {
  cursor: pointer;
  width: 65px;
  height: 30px;

  border-radius: 4px 4px 4px 4px;
  background-color: #f2f2f2;
  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid #b6b6b6;
}
