<div>
  <div class="mt-4">
    <button type="button" class="mx-1 btn btn-outline-primary  btn-block mb-3 text-L"
      (click)="goToChampionshipConfiguration()">Configuracion de
      Campeonato</button>
    <button (click)="goToTraineeRegistration()" class="mx-1 btn btn-outline-primary  btn-block mb-3 text-L"
      type="button">Registrar Entrenadores</button>
    <button (click)="goToParticipantValidation()" class="mx-1 btn btn-outline-primary  btn-block mb-3 text-L"
      type="button">Validacion del pesaje</button>
    <button (click)="goToCompetitorsGrouping()" class="btn mx-1 btn-outline-primary  btn-block mb-3 text-L"
      type="button">Agrupaciones</button>
  </div>