@import "./../../pages/bracket-results/bracket-results.component.scss";

.column.quarters {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.column.eighths {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.match:nth-child(even) .line.vertical {
  transform: translate(0, -100%);
}

.column:nth-child(2) .line.vertical {
  height: 85px;
}

.column:nth-child(3) .line.vertical {
  height: 180px;
}

.column:nth-child(4) .line.vertical {
  display: none;
}

.column:first-child .match-lines.alt {
  display: none;
}

.cont {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-around;
  align-content: center;
}
.cont2 {
  display: flex;
  flex-direction: column;
  height: 345px;
  justify-content: space-around;
  align-content: center;
}
.nonDisplay {
  visibility: hidden;
}
.cont2.match:nth-child(2) .line.vertical {
  display: none;
}
