<div>
  <nav class="navbar">
    <ul class="nav-list">
      <p>ADMINISTRADOR</p>
      <li class="nav-item">
        <a routerLink="/Registro-Clubes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Registro
          de
          clubes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Vista-Clubes" routerLinkActive="active">Vista clubes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Configuracion-Campeonato" routerLinkActive="active">Configuracion del campeonato</a>
      </li>


      <p>ENTRENADORES</p>
      <li class="nav-item">
        <a routerLink="/Vista-Competidores" routerLinkActive="active">Vista inscritos club</a>
      </li>
      <li class="nav-item">
        <a routerLink="/Registro-Competidores" routerLinkActive="active">Registro de competidores</a>
      </li>
    </ul>
  </nav>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>