@import "./../../pages/bracket-draw/bracket-draw.component.scss";

.column:nth-child(1) .line.vertical {
  height: 88px;
}

.column:nth-child(1) .line.vertical {
  display: none;
}
i {
  font-size: 20px;
}
.form-control,
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #494248;
}
.text-S {
  font-size: 16px;
  padding-left: 4px;
}
.form-select {
  position: absolute;
  z-index: 9999;
  margin-right: 4px;
  height: 32px;
  width: 220px;
  padding: 0;

  left: 80px;
  top: -16px;
}
.select-wrapper {
  position: relative; /* Establece el posicionamiento relativo en el contenedor */
  display: inline-block; /* Permite que el contenedor se ajuste al ancho del select */
}
