<div class="theme">
  <div class="bracket">
    <div class="column final">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span>12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">LIN</span>
              <span class="name">Orlando</span>
              <span class="score">2</span>
            </div>
            <div class="competitor red">
              <span class="clubCode">LIN</span>
              <span class="name">Senators</span>
              <span class="score">1</span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column four">
      <div class="match winner ">
        <div class="match- competitor">
          <span class="clubCode">LIN</span>
          <span class="name">Final Winner</span>
          <span class="score"></span>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>