<div class="mt-4 mb-4">
  <div class="buttons">
    <button class="mx-1 btn btn-outline-primary btn-block text-L" (click)="returnToSummary()">Volver</button>
    <button class="mx-1 btn btn-outline-primary btn-block text-L" (click)="createGroupings()">Crear
      Agrupaciones</button>

  </div>
  <div *ngIf="brackets.length>0">
    <div>
      <h1 class="text-center">
        AGRUPACIONES
      </h1>
      <div *ngFor="let bracket of brackets">
        <div class="bracket-description mt-3">
          <p class="text-M">{{ getBracketCategoryName(bracket) }}</p>
          <p class="text-M">{{ getBracketGrouping(bracket) }}</p>
          <p class="text-M" *ngIf="getBracketMinWeightInterval(bracket)===0">
            - {{getBracketMaxWeightInterval(bracket)}} Kg
          </p>
          <div>
            <p *ngIf="getBracketMaxWeightInterval(bracket)!=100 && getBracketMinWeightInterval(bracket)!= 0"
              class="text-M">
              {{getBracketMinWeightInterval(bracket)}} -
              {{getBracketMaxWeightInterval(bracket)}} Kg
            </p>
            <p *ngIf="getBracketMaxWeightInterval(bracket)===100 && getBracketMinWeightInterval(bracket)!= 0"
              class="text-M">
              +{{getBracketMinWeightInterval(bracket)}} Kg
            </p>
            <p *ngIf="getBracketMaxWeightInterval(bracket)!=100 && getBracketMinWeightInterval(bracket)=== 0"
              class="text-M">
              -{{getBracketMaxWeightInterval(bracket)}} Kg
            </p>
          </div>
          <div>
            <div *ngIf="bracket.competitors[0].participant.gender==='Masculino'">
              <p class="text-M">M</p>
            </div>
            <div *ngIf="bracket.competitors[0].participant.gender==='Femenino'">
              <p class="text-M">F</p>
            </div>
          </div>
          <p class="text-M">Cantidad: {{bracket.competitors.length}}</p>
        </div>
        <div>
          <div class="row col-12 mt-2">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr class="bg text-white">
                    <th class="col-auto">Apellido y Nombre</th>
                    <th class="col-auto">Club</th>
                    <th class="col-auto">Edad</th>
                    <th class="col-auto">Peso</th>
                    <th class="col-auto">Grado</th>
                    <th class="col-auto">Sexo</th>
                    <th class="col-width">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let competitor of bracket.competitors">
                    <td>
                      {{ joinNames(competitor.participant.lastNames,competitor.participant.firstNames ) }}
                    </td>
                    <td>
                      {{ competitor.participant.clubCode }}
                    </td>
                    <td>
                      {{ competitor.participant.age }}
                    </td>
                    <td>
                      {{ competitor.participant.weight }}
                    </td>
                    <td>
                      {{ competitor.participant.grade }}
                    </td>
                    <td>{{ competitor.participant.gender }}</td>
                    <td class="actions-td">
                      <div class="buttons" *ngIf="!competitor.participant.isEdit">
                        <i class="fa fa-pencil px-2" aria-hidden="true"
                          (click)="onEdit(competitor.participant, bracket)"></i>
                      </div>
                      <div class="filter" *ngIf="competitor.participant.isEdit">
                        <select class="form-select text-S" [(ngModel)]="currentBracket">
                          <ng-container *ngFor="let bracket of bracketInfo">
                            <option [value]="bracket.bracketId" [value]="bracket.infoToShow">{{ bracket.infoToShow }}
                            </option>
                          </ng-container>
                        </select>
                        <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEdit(competitor)"
                          *ngIf="bracketEditing.infoToShow!=currentBracket"></i>
                        <i class="fa fa-times-circle" aria-hidden="true"
                          (click)="cancelEdit(competitor.participant)"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div>
        <h1 class="text-center">
          NO PELEAN
        </h1>
      </div>
    </div>
  </div>