.text-L {
  font-size: 24px;
}
.text-M {
  font-size: 20x;
  margin-bottom: 0px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.buttonF {
  display: flex;
  justify-content: center;
}
.bracket-description {
  display: flex;
  justify-content: space-evenly;
}
.table {
  td,
  th {
    background-color: transparent; // Establece el fondo de las celdas como transparente
  }
}
.bg {
  background-color: #6d88a1;
}
i {
  color: #8fadcc;
  font-size: 24px;
}
.container-fluid {
  padding: 0;
}

.form-control,
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #494248;
}
.text-S {
  font-size: 16px;
  padding-left: 4px;
}
.participants {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cant {
  margin-bottom: 0px;
}

.table {
  td,
  th {
    background-color: transparent; // Establece el fondo de las celdas como transparente
  }
  font-size: 16px;
}
.bg {
  background-color: #6d88a1;
}

.container-fluid {
  padding: 0;
}
.text-L {
  font-size: 24px;
}
.form-control,
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #494248;
}
.text-S {
  font-size: 16px;
}
.participants {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cant {
  margin-bottom: 0px;
}
.button {
  font-size: 16px;
}
.form-control {
  padding: 0;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
@import "./../../../../app.component.scss";
.table {
  td,
  th {
    background-color: transparent; // Establece el fondo de las celdas como transparente
  }
}
.bg {
  background-color: #6d88a1;
}
.container-fluid {
  padding: 0;
}
.text-L {
  font-size: 24px;
}
.form-control,
.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #494248;
}
.text-S {
  font-size: 16px;
  padding-left: 4px;
}
.participants {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cant {
  margin-bottom: 0px;
}
////////////////////////////
.filtros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 0;
}

.selected {
  background-color: #6d88a1; /* Cambiar al color deseado */
}
.text-sss {
  font-size: 12px;
}
.table {
  width: 85%;
}
.table-responsive {
  display: flex;
  justify-content: center;
}
.form-select {
  max-width: 200px;
}
.col-width {
  width: 290px;
}
.actions-td {
  width: 220px;
}
.filter {
  display: flex;
}
//FIltros

.filtros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 0;
}

.selected {
  background-color: #6d88a1; /* Cambiar al color deseado */
}
.text-sss {
  font-size: 12px;
}
