.text-L {
  font-size: 24px;
}
.text-M {
  font-size: 20x;
  margin-bottom: 0px;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.bracket-description {
  display: flex;
  justify-content: space-around;
}
