<div *ngIf="championship">
  <div class="mb-4" *ngIf="championship.stage==='Groupings'">
    <div *ngIf="brackets.length===0" class="text-center">
      <button class="mx-1 btn btn-primary" (click)="createGroupings()">Crear
        Agrupaciones</button>
    </div>
    <div *ngIf="brackets.length>0">
      <div class="description-center">
        <div class="filters-container">
          <div class="filter">
            <span class="filterS">Categorias</span>
            <div class="options">
              <button class="btn btn-filter" [class.selected]="selectedCategory === 'Todos'"
                (click)="filterCategory('Todos')">
                <i class="fa fa-circle " aria-hidden="true"></i>Ambos</button>
              <ng-container *ngFor="let category of categories">
                <button class="btn btn-filter" [class.selected]="selectedCategory === category.categoryName"
                  (click)="filterCategory(category.categoryName)">
                  <i class="fa fa-circle-o" aria-hidden="true"></i>{{category.categoryName}}</button>
              </ng-container>
            </div>
          </div>
          <div class="filter">
            <span class="filterS">Generos</span>
            <div class="options">
              <button class="btn btn-filter " [class.selected]="selectedGender === 'Ambos'"
                (click)="filterGender('Ambos')">
                <i class="fa fa-transgender " aria-hidden="true"></i>Ambos</button>
              <button class="btn btn-filter " [class.selected]="selectedGender === 'Femenino'"
                (click)="filterGender('Femenino')">
                <i class="fa fa-female" aria-hidden="true"></i>Femenino</button>
              <button class="btn btn-filter " [class.selected]="selectedGender === 'Masculino'"
                (click)="filterGender('Masculino')">
                <i class="fa fa-male" aria-hidden="true"></i>Masculino</button>
            </div>
          </div>
        </div>
        <div class="filters-container">
          <div class="filter">
            <span class="filterS">Edades:</span>
            <div class="options">
              <select class="select-filter" [(ngModel)]="selectedAgeInterval"
                (change)="filterAgeInterval(selectedAgeInterval)">
                <option value="Todos" [class.selected]="selectedAgeInterval === 'Todos'">Todos</option>
                <ng-container *ngFor="let ageInterval of ageIntervals">
                  <option [value]="ageInterval.minAge + '-' + ageInterval.maxAge"
                    [class.selected]="selectedAgeInterval === (ageInterval.minAge + '-' + ageInterval.maxAge)">
                    {{ ageInterval.minAge }}{{ ageInterval.maxAge === 100 ? '+' : ' - ' + ageInterval.maxAge }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="filter">
            <span class="filterS">Cantidad de competidores:</span>
            <div class="options">
              <select class="select-filter" [(ngModel)]="selectedQuantity" (change)="filterQuantity(selectedQuantity)">
                <option value="Todos" [class.selected]="selectedQuantity === 'Todos'">Todos</option>
                <!-- Iterar sobre el arreglo competitorCounts -->
                <ng-container *ngFor="let quiantity of bracketsQuantity">
                  <!-- Generar opciones para cada cantidad de competidores -->
                  <option [value]="quiantity" [class.selected]="selectedQuantity === quiantity">
                    {{ quiantity }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="description-center">
        <div class="participants mt-2 mb-2">
          <span *ngIf="bracketsFiltered.length>0" class="cant">Mostrando {{visibleBrackets}} de {{
            bracketsFiltered.length }}</span>
        </div>
      </div>
      <ng-container *ngFor="let bracket of displayedBrackets;let i = index">
        <div *ngIf="bracket.competitors.length>0 && i < visibleBrackets">
          <div class="text-center">
            <div class="bracket-description">
              <span class="bDescription">{{ getBracketCategoryName(bracket) }}</span>
              <span class="bDescription">{{ getBracketGrouping(bracket) }}</span>
              <span class="bDescription"
                *ngIf="getBracketMinWeightInterval(bracket) !== 0 && getBracketMaxWeightInterval(bracket) !== 100">
                {{ getBracketMinWeightInterval(bracket) }} - {{ getBracketMaxWeightInterval(bracket) }} Kg
              </span>
              <span class="bDescription"
                *ngIf="getBracketMinWeightInterval(bracket) !== 0 && getBracketMaxWeightInterval(bracket) === 100">
                +{{ getBracketMinWeightInterval(bracket) }} Kg
              </span>
              <span class="bDescription" *ngIf="getBracketMinWeightInterval(bracket) === 0">
                -{{ getBracketMaxWeightInterval(bracket) }} Kg
              </span>
              <div *ngIf="bracket.competitors.length>0">
                <div *ngIf="bracket.competitors[0].participant.gender==='Masculino'">
                  <span class="bDescription">M</span>
                </div>
                <div *ngIf="bracket.competitors[0].participant.gender==='Femenino'">
                  <span class="bDescription">F</span>
                </div>
              </div>
              <span class="bDescription">Cantidad: {{bracket.competitors.length}}</span>
            </div>
          </div>
          <div class="table-responsive">
            <div class="table-container">
              <table class="table ">
                <thead>
                  <tr class="bg text-white">
                    <th class="names">Apellido y Nombre</th>
                    <th class="code">Club</th>
                    <th class="age">Edad</th>
                    <th class="weight">Peso</th>
                    <th class="grade">Grado</th>
                    <th class="gender">Sexo</th>
                    <th class="actions">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let competitor of bracket.competitors">
                    <td>
                      {{ joinNames(competitor.participant.lastNames,competitor.participant.firstNames ) }}
                    </td>
                    <td>
                      {{ competitor.participant.clubCode }}
                    </td>
                    <td>
                      {{ competitor.participant.age }}
                    </td>
                    <td>
                      {{ competitor.participant.weight }} Kg
                    </td>
                    <td>
                      {{ competitor.participant.grade }}
                    </td>
                    <td>{{ competitor.participant.gender }}</td>
                    <td class="action-column">
                      <div class="action-button" *ngIf="!competitor.participant.isEdit">
                        <i class="fa fa-pencil px-2" aria-hidden="true"
                          (click)="onEdit(competitor.participant, bracket)"></i>
                      </div>
                      <div class="action-button" *ngIf="!competitor.participant.isEdit">
                        <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(competitor, bracket)"></i>
                      </div>
                      <div class="filterGrouping" *ngIf="competitor.participant.isEdit">
                        <select class="form-select select-grouping" [(ngModel)]="currentBracket">
                          <ng-container *ngFor="let bracket of bracketInfo">
                            <option [value]="bracket.bracketId" [value]="bracket.infoToShow">{{ bracket.infoToShow
                              }}
                            </option>
                          </ng-container>
                        </select>
                        <div class="action-button" *ngIf="bracketEditing.infoToShow!=currentBracket">
                          <i class="fa fa-floppy-o " aria-hidden="true" (click)="confirmEdit(competitor)"></i>
                        </div>
                        <div class="action-button">
                          <i class="fa fa-times-circle" aria-hidden="true"
                            (click)="cancelEdit(competitor.participant)"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="text-center " *ngIf="brackets.length>0">
      <div class="left-rows" [ngClass]="{'clickable': visibleBrackets!=1}">
        <div *ngIf="visibleBrackets===1">
          <img src="./../../../../../assets/leftL2.png" alt="row">
          <img src="./../../../../../assets/leftL1.png" alt="row">
        </div>
        <div *ngIf="visibleBrackets!=1" (click)="showLessBrackets()">
          <img src="./../../../../../assets/leftM2.png" alt="row">
          <img src="./../../../../../assets/leftM1.png" alt="row">
        </div>
      </div>
      <span class="pageN">{{visibleBrackets}}</span>
      <div class="right-rows" [ngClass]="{'clickable': visibleBrackets<bracketsFiltered.length}">
        <div *ngIf="visibleBrackets<bracketsFiltered.length" (click)="showMoreBrackets()">
          <img src="./../../../../../assets/rightM1.png" alt="row">
          <img src="./../../../../../assets/rightM2.png" alt="row">
        </div>
        <div *ngIf="visibleBrackets>=bracketsFiltered.length">
          <img src="./../../../../../assets/rightL1.png" alt="row">
          <img src="./../../../../../assets/rightL2.png" alt="row">
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary" *ngIf="brackets.length>0" (click)="openModal(modalContent)">Finalizar
        Edicion</button>
    </div>

  </div>

  <div class=" mb-4" *ngIf="championship.stage!='Groupings'">
    <div class="text-center">
      <div *ngIf="brackets.length>0">
        <div class="description-center">
          <div class="filters-container">
            <div class="filter">
              <span class="filterS">Categorias</span>
              <div class="options">
                <button class="btn btn-filter" [class.selected]="selectedCategory === 'Todos'"
                  (click)="filterCategory('Todos')">
                  <i class="fa fa-circle " aria-hidden="true"></i>Ambos</button>
                <ng-container *ngFor="let category of categories">
                  <button class="btn btn-filter" [class.selected]="selectedCategory === category.categoryName"
                    (click)="filterCategory(category.categoryName)">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>{{category.categoryName}}</button>
                </ng-container>
              </div>
            </div>
            <div class="filter">
              <span class="filterS">Generos</span>
              <div class="options">
                <button class="btn btn-filter " [class.selected]="selectedGender === 'Ambos'"
                  (click)="filterGender('Ambos')">
                  <i class="fa fa-transgender " aria-hidden="true"></i>Ambos</button>
                <button class="btn btn-filter " [class.selected]="selectedGender === 'Femenino'"
                  (click)="filterGender('Femenino')">
                  <i class="fa fa-female" aria-hidden="true"></i>Femenino</button>
                <button class="btn btn-filter " [class.selected]="selectedGender === 'Masculino'"
                  (click)="filterGender('Masculino')">
                  <i class="fa fa-male" aria-hidden="true"></i>Masculino</button>
              </div>
            </div>
          </div>
          <div class="filters-container">
            <div class="filter">
              <span class="filterS">Edades:</span>
              <div class="options">
                <select class="select-filter" [(ngModel)]="selectedAgeInterval"
                  (change)="filterAgeInterval(selectedAgeInterval)">
                  <option value="Todos" [class.selected]="selectedAgeInterval === 'Todos'">Todos</option>
                  <ng-container *ngFor="let ageInterval of ageIntervals">
                    <option [value]="ageInterval.minAge + '-' + ageInterval.maxAge"
                      [class.selected]="selectedAgeInterval === (ageInterval.minAge + '-' + ageInterval.maxAge)">
                      {{ ageInterval.minAge }}{{ ageInterval.maxAge === 100 ? '+' : ' - ' + ageInterval.maxAge }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="filter">
              <span class="filterS">Cantidad de competidores:</span>
              <div class="options">
                <select class="select-filter" [(ngModel)]="selectedQuantity"
                  (change)="filterQuantity(selectedQuantity)">
                  <option value="Todos" [class.selected]="selectedQuantity === 'Todos'">Todos</option>
                  <!-- Iterar sobre el arreglo competitorCounts -->
                  <ng-container *ngFor="let quiantity of bracketsQuantity">
                    <!-- Generar opciones para cada cantidad de competidores -->
                    <option [value]="quiantity" [class.selected]="selectedQuantity === quiantity">
                      {{ quiantity }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class="description-center">
          <div class="participants mt-2 mb-2">
            <span *ngIf="bracketsFiltered.length>0" class="cant">Mostrando {{visibleBrackets}} de {{
              bracketsFiltered.length }}</span>
          </div>
        </div>
        <ng-container *ngFor="let bracket of displayedBrackets;let i = index">
          <div *ngIf="bracket.competitors.length>0 && i < visibleBrackets">
            <div class="text-center">
              <div class="bracket-description">
                <span class="bDescription">{{ getBracketCategoryName(bracket) }}</span>
                <span class="bDescription">{{ getBracketGrouping(bracket) }}</span>
                <span class="bDescription"
                  *ngIf="getBracketMinWeightInterval(bracket) !== 0 && getBracketMaxWeightInterval(bracket) !== 100">
                  ({{ getBracketMinWeightInterval(bracket) }} - {{ getBracketMaxWeightInterval(bracket) }} Kg)
                </span>
                <span class="bDescription"
                  *ngIf="getBracketMinWeightInterval(bracket) !== 0 && getBracketMaxWeightInterval(bracket) === 100">
                  (+{{ getBracketMinWeightInterval(bracket) }} Kg)
                </span>
                <span class="bDescription" *ngIf="getBracketMinWeightInterval(bracket) === 0">
                  (-{{ getBracketMaxWeightInterval(bracket) }} Kg)
                </span>
                <div *ngIf="bracket.competitors.length>0">
                  <div *ngIf="bracket.competitors[0].participant.gender==='Masculino'">
                    <span class="bDescription">M</span>
                  </div>
                  <div *ngIf="bracket.competitors[0].participant.gender==='Femenino'">
                    <span class="bDescription">F</span>
                  </div>
                </div>
                <span class="bDescription">Cantidad: {{bracket.competitors.length}}</span>
              </div>
            </div>
            <div class="table-responsive">
              <div class="table-container">
                <table class="table ">
                  <thead>
                    <tr class="bg text-white">
                      <th class="names">Apellido y Nombre</th>
                      <th class="code">Club</th>
                      <th class="age">Edad</th>
                      <th class="weight">Peso</th>
                      <th class="grade">Grado</th>
                      <th class="gender">Sexo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let competitor of bracket.competitors">
                      <td class="textL">
                        {{ joinNames(competitor.participant.lastNames,competitor.participant.firstNames ) }}
                      </td>
                      <td>
                        {{ competitor.participant.clubCode }}
                      </td>
                      <td>
                        {{ competitor.participant.age }}
                      </td>
                      <td>
                        {{ competitor.participant.weight }} Kg
                      </td>
                      <td>
                        {{ competitor.participant.grade }}
                      </td>
                      <td>{{ competitor.participant.gender }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="text-center mt-3">
          <div class="left-rows" [ngClass]="{'clickable': visibleBrackets!=1}">
            <div *ngIf="visibleBrackets===1">
              <img src="./../../../../../assets/leftL2.png" alt="row">
              <img src="./../../../../../assets/leftL1.png" alt="row">
            </div>
            <div *ngIf="visibleBrackets!=1" (click)="showLessBrackets()">
              <img src="./../../../../../assets/leftM2.png" alt="row">
              <img src="./../../../../../assets/leftM1.png" alt="row">
            </div>
          </div>
          <span class="pageN">{{visibleBrackets}}</span>
          <div class="right-rows" [ngClass]="{'clickable': visibleBrackets<bracketsFiltered.length}">
            <div *ngIf="visibleBrackets<bracketsFiltered.length" (click)="showMoreBrackets()">
              <img src="./../../../../../assets/rightM1.png" alt="row">
              <img src="./../../../../../assets/rightM2.png" alt="row">
            </div>
            <div *ngIf="visibleBrackets>=bracketsFiltered.length">
              <img src="./../../../../../assets/rightL1.png" alt="row">
              <img src="./../../../../../assets/rightL2.png" alt="row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">ALERTA</h4>
    </div>
    <div class="modal-body">
      <div class='form-input-container'>
        <div class='description'>
          <label>Una vez finalizado la edicion de Agrupaciones </label>
          <label>no se podran realizar modificaciones.</label>
        </div>
        <div class="botones">
          <button class="btn btn-primary" (click)="c('Close')">Cancelar</button>
          <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
        </div>
      </div>
    </div>
  </ng-template>