.championship-container {
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente (uno debajo del otro) */

  text-align: center; /* Centrar el texto dentro de los elementos */
}
.informacion {
  flex: 1;
}
.titulo {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.date {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
.status {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
