<div class="container">

  <div class='championship-container mt-4' *ngIf="championship">

    <ng-container [ngSwitch]="championship.stage">
      <span class="status" *ngSwitchCase="'InitialConfiguration'">Etapa Inicial</span>
      <span class="status" *ngSwitchCase="'ClubRegistration'">Etapa de registro de Clubes</span>
      <span class="status" *ngSwitchCase="'Registrations'">Etapa de registro de Competidores</span>
      <span class="status" *ngSwitchCase="'Weigh-in'">Etapa de pesaje</span>
      <span class="status" *ngSwitchCase="'Groupings'">Etapa de agrupaciones</span>
      <span class="status" *ngSwitchCase="'BracketDraw'">Etapa de creación de llaves</span>

      <span class="status" *ngSwitchCase="'ResponsiblesRegistration'">Las llaves ya están disponibles, míralas
        presionando el botón</span>
      <div class="text-center pt-1  mb-1 pb-1" *ngIf="championship.stage==='ResponsiblesRegistration'">
        <button (click)="goToBracketView()" class="btn btn-primaryS  " type="button ">Ver llaves</button>
      </div>

      <span class="status" *ngSwitchCase="'CombatRecord'">Revisa el progreso de las llaves presionando el botón</span>
      <div class="text-center pt-1  mb-1 pb-1" *ngIf="championship.stage==='CombatRecord'">
        <button (click)="goToBracketView()" class="btn btn-primaryS  " type="button ">Ver llaves</button>
      </div>

      <span class="status" *ngSwitchCase="'End'">El campeonato ha finalizado, mira los resultados finales</span>
      <div class="text-center2 pt-1  mb-1 pb-1" *ngIf="championship.stage==='End'">
        <button (click)="goToBracketView()" class="btn btn-primaryS  " type="button ">Ver llaves</button>
        <button (click)="goToChampionshipSummary()" class="btn btn-primaryS  " type="button ">Ver tabla de
          resultados</button>
      </div>

    </ng-container>
    <span class="date">{{formatFecha(championship.championshipDate)}}</span>

  </div>
</div>