<div>
  <div>
    <button (click)="goToLogin()">Ir a Login</button>
  </div>
  <div class='championship-container' *ngIf="championship">
    <h1>{{ championship.championshipName }}</h1>
    <div [ngSwitch]="championship.stage">
      <p class="descripcion" *ngSwitchCase="'InitialConfiguration'">Etapa Inicial</p>
      <p class="descripcion" *ngSwitchCase="'Registrations'">Etapa de registro de Competidores</p>
      <p class="descripcion" *ngSwitchCase="'Weigh-in'">Etapa de pesaje</p>
      <p class="descripcion" *ngSwitchCase="'BracketDraw'">Etapa de creacion de llaves</p>
      <p class="descripcion" *ngSwitchCase="'CombatRecord'">Etapa de combates</p>
      <p class="descripcion" *ngSwitchCase="'End'">Finalizado</p>
    </div>
    <p class="descripcion">Fecha del Campeonato: {{ championship.championshipDate | date:'dd/MM/yyyy' }}</p>

  </div>
</div>