.championship-container {
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente (uno debajo del otro) */

  text-align: center; /* Centrar el texto dentro de los elementos */
}
.container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informacion {
  flex: 1;
}
.titulo {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.btn-primaryS {
  width: 242px;
  height: 39px;
  background: #ff204e;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.date {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
.status {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
