<div class="buttons">
  <button class="mx-1 btn btn-outline-primary btn-block text-L" (click)="createMatches()">Crear Llave</button>
</div>
<div class="bracket-container" *ngIf="matchesWithCompetitors.length>0">
  <div class="bracket">
    <div class="column col-six eighths">
      <div class="column col-six quarters1">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights1.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights1.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights1.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights1.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights1.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights1.matchId,eights1.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights1.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights1.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights1.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights1.redCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights1.redCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights1.redCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights1.redCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights1.matchId,eights1.redCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights1.redCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights1.redCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights2.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights2.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights2.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights2.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights2.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights2.matchId,eights2.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights2.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights2.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights2.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights2.redCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights2.redCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights2.redCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights2.redCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights2.matchId,eights2.redCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights2.redCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights2.redCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">123
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights3.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights3.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights3.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights3.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights3.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights3.matchId,eights3.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights3.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights3.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights3.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights3.redCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights3.redCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights3.redCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights3.redCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights3.matchId,eights3.redCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights3.redCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights3.redCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights4.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights4.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights4.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights4.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights4.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights4.matchId,eights4.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights4.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights4.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
      <div class="column col-six quarters2">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights5.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights5.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights5.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights5.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights5.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights5.matchId,eights5.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights5.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights5.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights5.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights5.redCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights5.redCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights5.redCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights5.redCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights5.matchId,eights5.redCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights5.redCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights5.redCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights6.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights6.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights6.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights6.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights6.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights6.matchId,eights6.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights6.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights6.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights7.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights7.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights7.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights7.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights7.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights7.matchId,eights7.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights7.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights7.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ eights7.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights7.redCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights7.redCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights7.redCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights7.redCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights7.matchId,eights7.redCompetitor.competitorId,selectedCompetitorId)"></i>
                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights7.redCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights7.redCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ eights8.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ eights8.blueCompetitor.Participant.fullName }}</span>
                <span class="score"></span>
                <div class="select-wrapper" *ngIf="editingBracket===eights8.blueCompetitor.competitorId">
                  <select class="form-select text-S" (change)="onSelectCompetitor($event)">
                    <option value="">Intercambiar con:</option>
                    <ng-container *ngFor="let competitor of bracket.competitors">
                      <ng-container *ngIf="competitor.competitorId !== eights8.blueCompetitor.competitorId">
                        <option [value]="competitor.competitorId">
                          {{ competitor.Participant.clubCode }} - {{ competitor.Participant.firstNames }} {{
                          competitor.Participant.lastNames }}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </div>
                <div class="icons">
                  <i *ngIf="editingBracket===eights8.blueCompetitor.competitorId && selectedCompetitorId"
                    class="fa fa-floppy-o px-2" aria-hidden="true"
                    (click)="confirmEdit(eights8.matchId,eights8.blueCompetitor.competitorId,selectedCompetitorId)"></i>

                  <i *ngIf="editingBracket===''" (click)="editCompetitor(eights8.blueCompetitor.competitorId)"
                    class="fa fa-sort px-2" aria-hidden="true"></i>
                  <i *ngIf="editingBracket===eights8.blueCompetitor.competitorId" (click)="cancelEdit()"
                    class="fa fa-times-circle px-2" aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name">Bye</span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-six quarters">
      <div class=" semis1">
        <div class="cont2">
          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>

          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode">{{ quarters2.redCompetitor.Participant.clubCode }}</span>
                  <span class="name">{{ quarters2.redCompetitor.Participant.fullName }}</span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>
        </div>
      </div>
      <div class=" semis2">
        <div class="cont2">
          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode"></span>
                  <span class="clubCode">{{ quarters3.redCompetitor.Participant.clubCode }}</span>
                  <span class="name">{{ quarters3.redCompetitor.Participant.fullName }}</span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>

          <div class="match ">
            <div class="match-container">
              <div class="match-number">
                <span class="number">12
                </span>
              </div>
              <div class="match-competitors">
                <div class="competitor blue">
                  <span class="clubCode"></span>
                  <span class="name"></span>
                  <span class="score"></span>
                </div>
                <div class="competitor red">
                  <span class="clubCode">{{ quarters4.redCompetitor.Participant.clubCode }}</span>
                  <span class="name">{{ quarters4.redCompetitor.Participant.fullName }}</span>
                  <span class="score"></span>
                </div>
              </div>
            </div>
            <div class="match-lines">
              <div class="line horizontal"></div>
              <div class="line vertical"></div>
            </div>
            <div class="match-lines alt">
              <div class="line horizontal"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-six semis">
      <div class="cont">
        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
              <div class="competitor red">
                <span class="clubCode"></span>
                <span class="name"></span>
                <span class="score"></span>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="column col-six final">
      <div class="match ">
        <div class="match-container">
          <div class="match-number">
            <span class="number">12
            </span>
          </div>
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode"></span>
              <span class="name"></span>
              <span class="score"></span>
            </div>
            <div class="competitor red">
              <span class="clubCode"></span>
              <span class="name"></span>
              <span class="score"></span>
            </div>
          </div>
        </div>
        <div class="match-lines">
          <div class="line horizontal"></div>
          <div class="line vertical"></div>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>

    <div class="column col-six win">
      <div class="match">
        <div class="competitor winner">
          <span class="clubCode"></span>
          <span class="name"></span>
          <span class="score"></span>
        </div>
        <div class="match-lines alt">
          <div class="line horizontal"></div>
        </div>
      </div>
    </div>
  </div>
</div>