<div *ngIf="matchesWithCompetitors.length>0">
  <div class="bracket-container">
    <div class="bracket">
      <div class="column quarters">
        <div class="match">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ quarters1.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters1.blueCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters1.blueRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters1)" (click)="openModal(quarters1)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ quarters1.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters1.redCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters1.redRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters1)" (click)="openModal(quarters1)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ quarters2.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters2.blueCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters2.blueRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters2)" (click)="openModal(quarters2)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ quarters2.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters2.redCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters2.redRounds}}</span>
                <div class="icons">

                  <i *ngIf="matchToDefine(quarters2)" (click)="openModal(quarters2)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>

                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>


        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ quarters3.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters3.blueCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters3.blueRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters3)" (click)="openModal(quarters3)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ quarters3.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters3.redCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters3.redRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters3)" (click)="openModal(quarters3)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>

        <div class="match ">
          <div class="match-container">
            <div class="match-number">
              <span class="number">12
              </span>
            </div>
            <div class="match-competitors">
              <div class="competitor blue">
                <span class="clubCode">{{ quarters4.blueCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters4.blueCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters4.blueRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters4)" (click)="openModal(quarters4)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
              <div class="competitor red">
                <span class="clubCode">{{ quarters4.redCompetitor.Participant.clubCode }}</span>
                <span class="name">{{ quarters4.redCompetitor.Participant.fullName }}</span>
                <span class="score">{{quarters4.redRounds}}</span>
                <div class="icons">
                  <i *ngIf="matchToDefine(quarters4)" (click)="openModal(quarters4)" class="fa fa-plus px-2"
                    aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>

      <div class="column semis">
        <div class="match ">
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">{{ semiFinal1.blueCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal1.blueCompetitor.Participant.fullName }}</span>
              <span class="score">{{semiFinal1.blueRounds}}</span>
              <div class="icons">
                <i *ngIf="matchToDefine(semiFinal1)" (click)="openModal(semiFinal1)" class="fa fa-plus px-2"
                  aria-hidden="true"></i>
              </div>
            </div>
            <div class="competitor red">
              <span class="clubCode">{{ semiFinal1.redCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal1.redCompetitor.Participant.fullName }}</span>
              <span class="score">{{semiFinal1.redRounds}}</span>
              <div class="icons">
                <i *ngIf="matchToDefine(semiFinal1)" (click)="openModal(semiFinal1)" class="fa fa-plus px-2"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
        <div class="match ">
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">{{ semiFinal2.blueCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal2.blueCompetitor.Participant.fullName }}</span>
              <span class="score">{{semiFinal2.blueRounds}}</span>
              <div class="icons">
                <i *ngIf="matchToDefine(semiFinal2)" (click)="openModal(semiFinal2)" class="fa fa-plus px-2"
                  aria-hidden="true"></i>
              </div>
            </div>
            <div class="competitor red">
              <span class="clubCode">{{ semiFinal2.redCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ semiFinal2.redCompetitor.Participant.fullName }}</span>
              <span class="score">{{semiFinal2.redRounds}}</span>
              <div class="icons">
                <i *ngIf="matchToDefine(semiFinal2)" (click)="openModal(semiFinal2)" class="fa fa-plus px-2"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>

      <div class="column final">
        <div class="match ">
          <div class="match-competitors">
            <div class="competitor blue">
              <span class="clubCode">{{ final.blueCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ final.blueCompetitor.Participant.fullName }}</span>
              <span class="score">{{final.blueRounds}}</span>
              <div class="icons">
                <i *ngIf="matchToDefine(final)" (click)="openModal(final)" class="fa fa-plus px-2"
                  aria-hidden="true"></i>
              </div>
            </div>
            <div class="competitor red">
              <span class="clubCode">{{ final.redCompetitor.Participant.clubCode }}</span>
              <span class="name">{{ final.redCompetitor.Participant.fullName }}</span>
              <span class="score">{{final.redRounds}}</span>
              <div class="icons">
                <i *ngIf="matchToDefine(final)" (click)="openModal(final)" class="fa fa-plus px-2"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="match-lines">
            <div class="line horizontal"></div>
            <div class="line vertical"></div>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
      <div class="column four">
        <div class="match">
          <div class="competitor winner">
            <span class="clubCode">{{final.blueCompetitor.Participant.clubCode}}</span>
            <span class="name">{{final.blueCompetitor.Participant.fullName}}</span>
          </div>
          <div class="match-lines alt">
            <div class="line horizontal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-define-winner-modal *ngIf="(showModal)" [match]="selecedMatch"
  (closeModal)="onModalClose($event)"></app-define-winner-modal>