<div *ngIf="!categoryRegistered" class='ages-selector-container'>
  <h1>Categorías que participarán en el Campeonato</h1>
  <div class="rectangulo" *ngFor="let category of categories" id="{{category.categoryName}}">
    <div class="informacion">
      <p class="titulo">{{category.categoryName}}</p>
      <p class="descripcion">{{ category.gradeMin }} - {{ category.gradeMax }}</p>
    </div>
    <div class="botones">
      <button class="boton-cuadrado" (click)="eliminarCategoria(category)">
        <img class="icono-boton" src="./../../../assets/eliminar.png" alt="Eliminar">
      </button>
    </div>
  </div>
  <button class="btn btn-primary" (click)="imprimirCategorias(modalContent)">Confirmar</button>
</div>

<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ALERTA</h4>
  </div>
  <div class="modal-body">
    <div class='form-input-container'>
      <div class='description'>
        <label>Verifique que las categorias estén correctos. No se podrán hacer modificaciones.</label>
      </div>
      <div class="botones">
        <button class="btn btn-primary" (click)="c('Close')">Cancelar</button>
        <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
      </div>
    </div>
  </div>
</ng-template>
<div *ngIf="categoryRegistered">
  <p>CATEGORIAS YA REGISTRADAS</p>
</div>