<div class="container" *ngIf="championship">
  <div class="buttonsS mt-2">
    <button class="btn btn-primary" (click)="returnToSummary()">Volver</button>
    <div *ngIf="championship.stage==='InitialConfiguration'">
      <button class="btn btn-primary" (click)="resetInitialData()">Reiniciar Configuraciones</button>
    </div>

  </div>
  <div>
    <div *ngIf="championship.stage==='InitialConfiguration'">
      <h2 class="title">Espacio para Configurar las Categorias y Divisiones</h2>
    </div>
    <div *ngIf="championship.stage!='InitialConfiguration'">
      <h2 class="title">Categorias y Divisiones Definidas</h2>
    </div>
  </div>

  <div>
    <app-configure-div-cat></app-configure-div-cat>
  </div>


</div>