@import "./../../pages/championship-configuration/championship-configuration.component.scss";

.define-container {
  display: flex;
  justify-content: center;
}
.define {
  display: flex;
  flex-direction: column;
  width: 80%;

  border-radius: 20px;
  align-items: center;
}
.selected {
  border: 1px solid #00224d; /* Por ejemplo, un borde azul */
}

.btn {
  margin-bottom: 10px;
}
.image-container {
  display: flex;
  flex-direction: column;
}
.image-container img {
  margin-bottom: 10px;
  width: 500px; // Ajusta el ancho de las imágenes según tu diseño
  height: auto; // Permite que la altura se ajuste automáticamente manteniendo la proporción
  cursor: pointer; // Cambia el cursor al pasar sobre las imágenes para indicar que son clicables
  transition: border 0.3s ease; // Transición suave para el cambio de borde
}

.image-container img.selected {
  border: 10px solid #00224d; // Borde azul para la imagen seleccionada
}
.modal-dialog {
  width: 80%; /* Ajusta el ancho del contenido del modal al 100% */
  max-width: none; /* Quita el límite máximo de ancho */
}

.modal-lg {
  max-width: 80%; // Define el ancho máximo del modal
}
.modal-content {
  width: 80%; /* Ajusta el ancho del contenido del modal al 80% del tamaño del modal */
  max-width: none; /* Quita el límite máximo de ancho */
}
.table {
  border: 1px solid #b6b6b6;
  border-collapse: separate;
  border-radius: 8px 8px 0px 0px;
  width: 840px;
}

th {
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

td {
  font-weight: 300;
  font-size: 16px;
  color: #2f2f2f;
}
i {
  color: #00224d;
  font-size: 24px;
}
.action-button {
  cursor: pointer;
  width: 65px;
  height: 30px;

  border-radius: 4px 4px 4px 4px;
  background-color: #f2f2f2;
  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid #b6b6b6;
}
.action-column {
  display: flex;
  justify-content: space-around;
}
.actions {
  width: 160px;
}
.weights {
  width: 100px;
}
.ages {
  width: 160px;
}
.names {
  width: 260px;
}
.table-responsive {
  display: flex;
  justify-content: center;
}
span {
  font-weight: 600;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
}
.c {
  display: flex;
  justify-content: flex-start;
}
