<div>
  <div class="col-12">
    <h2 class="title">Define los intervalos de peso</h2>
    <h2 class="title">{{ageInterval.ageIntervalName}}</h2>
    <div class="participants mt-4 mb-2">
    </div>
  </div>

  <div class="row col-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="bg text-white">
            <th colspan="4" class="text-center">Femenino</th>
          </tr>
          <tr class="bg text-white">
            <th class="text-center">Nombre</th>
            <th class="text-center">Peso Mínimo</th>
            <th class="text-center">Peso Máximo</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let division of divisionsF" class="text-S">
            <td>
              <div *ngIf="division.isEdit">
                <input class="form-control text-S" type="text" [(ngModel)]="division.divisionName">
              </div>
              <div *ngIf="!division.isEdit">
                {{ division.divisionName }}
              </div>
            </td>
            <td>
              <div *ngIf="division.isEdit">
                <input class="form-control text-S" type="text" [(ngModel)]="division.minWeight">
              </div>
              <div *ngIf="!division.isEdit">
                {{ division.minWeight }}
              </div>
            </td>
            <td>
              <div *ngIf="division.isEdit">
                <input class="form-control text-S" type="text" [(ngModel)]="division.maxWeight">
              </div>
              <div *ngIf="!division.isEdit">
                {{ division.maxWeight }}
              </div>
            </td>
            <td class="text-center">
              <div *ngIf="!division.isEdit">
                <i class="fa fa-pencil px-2" aria-hidden="true" (click)="onEdit(division,'Femenino')"></i>
                <i class="fa fa-trash" aria-hidden="true" (click)="deleteDivision(division,'Femenino')"></i>
              </div>
              <div *ngIf="division.isEdit">
                <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEdit(division)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" (click)="cancelEdit(division)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row col-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="bg text-white">
            <th colspan="4" class="text-center">Masculino</th>
          </tr>
          <tr class="bg text-white">
            <th>Nombre</th>
            <th>Peso Mínimo</th>
            <th>Peso Máximo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let division of divisionsM" class="text-S">
            <td>
              <div *ngIf="division.isEdit">
                <input class="form-control text-S" type="text" [(ngModel)]="division.divisionName">
              </div>
              <div *ngIf="!division.isEdit">
                {{ division.divisionName }}
              </div>
            </td>
            <td>
              <div *ngIf="division.isEdit">
                <input class="form-control text-S" type="text" [(ngModel)]="division.minWeight">
              </div>
              <div *ngIf="!division.isEdit">
                {{ division.minWeight }}
              </div>
            </td>
            <td>
              <div *ngIf="division.isEdit">
                <input class="form-control text-S" type="text" [(ngModel)]="division.maxWeight">
              </div>
              <div *ngIf="!division.isEdit">
                {{ division.maxWeight == 100 }}
              </div>
            </td>
            <td class="text-center">
              <div *ngIf="!division.isEdit">
                <i class="fa fa-pencil px-2" aria-hidden="true" (click)="onEdit(division,'Masculino')"></i>
                <i class="fa fa-trash" aria-hidden="true" (click)="deleteDivision(division,'Masculino')"></i>
              </div>
              <div *ngIf="division.isEdit">
                <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEdit(division)"></i>
                <i class="fa fa-times-circle" aria-hidden="true" (click)="cancelEdit(division)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="returnAgeIntervalSelector()">Volver</button>