<div>
  <div class="container">
    <h1>{{ ageInterval.ageIntervalName }}</h1>
    <table class="table">
      <thead>
        <ng-container *ngIf="!divisionsF.length && !divisionsM.length; else bothGenders">
          <tr>
            <th colspan="2">Femenino</th>
            <th colspan="2">Masculino</th>
          </tr>
        </ng-container>
        <ng-template #bothGenders>
          <tr>
            <th colspan="4">Damas y Varones</th>
          </tr>
        </ng-template>
        <tr>
          <th>Nombre Division</th>
          <th>Intervalo de Peso</th>
          <th>Nombre Division</th>
          <th>Intervalo de Peso</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let division of divisionsF; let i = index">
          <tr>
            <td>{{ division.divisionName }}</td>
            <td>{{ division.minWeight }} - {{ division.maxWeight }} KG.</td>
            <td *ngIf="divisionsM[i]">{{ divisionsM[i].divisionName }}</td>
            <td *ngIf="divisionsM[i]">{{ divisionsM[i].minWeight }} - {{ divisionsM[i].maxWeight }} KG.</td>
          </tr>
        </ng-container>
        <tr *ngIf="divisionsF.length || divisionsM.length">
          <td></td>
          <td></td>
          <td *ngIf="divisionsM.length"></td>
          <td *ngIf="divisionsM.length"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="returnAgeIntervalSelector()">Volver</button>
</div>