<div class="container" *ngIf="championship">
  <div class="c " *ngIf="championship.stage==='Weigh-in'">
    <div class="description-center">
      <div class="filters-container">
        <div class="filter">
          <span class="filterS">Categorias</span>
          <div class="options">
            <button class="btn btn-filter" [class.selected]="selectedCategory === 'Todos'"
              (click)="filterCategory('Todos')">
              <i class="fa fa-circle " aria-hidden="true"></i>Ambos</button>
            <ng-container *ngFor="let category of categories">
              <button class="btn btn-filter" [class.selected]="selectedCategory === category.categoryName"
                (click)="filterCategory(category.categoryName)">
                <i class="fa fa-circle-o" aria-hidden="true"></i>{{category.categoryName}}</button>
            </ng-container>
          </div>
        </div>
        <div class="filter">
          <span class="filterS">Generos</span>
          <div class="options">
            <button class="btn btn-filter " [class.selected]="selectedGender === 'Ambos'"
              (click)="filterGender('Ambos')">
              <i class="fa fa-transgender " aria-hidden="true"></i>Ambos</button>
            <button class="btn btn-filter " [class.selected]="selectedGender === 'Femenino'"
              (click)="filterGender('Femenino')">
              <i class="fa fa-female" aria-hidden="true"></i>Femenino</button>
            <button class="btn btn-filter " [class.selected]="selectedGender === 'Masculino'"
              (click)="filterGender('Masculino')">
              <i class="fa fa-male" aria-hidden="true"></i>Masculino</button>
          </div>
        </div>
      </div>
      <div class="filters-container">
        <div class="filter">
          <span class="filterS">Edades:</span>
          <div class="options">
            <select class="select-filter" [(ngModel)]="selectedAgeInterval"
              (change)="filterAgeInterval(selectedAgeInterval)">
              <option value="Todos" [class.selected]="selectedAgeInterval === 'Todos'">Todos</option>
              <ng-container *ngFor="let ageInterval of ageIntervals">
                <option [value]="ageInterval.minAge + '-' + ageInterval.maxAge"
                  [class.selected]="selectedAgeInterval === (ageInterval.minAge + '-' + ageInterval.maxAge)">
                  {{ ageInterval.minAge }}{{ ageInterval.maxAge === 100 ? '+' : ' - ' + ageInterval.maxAge }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonsS mt-4 mb-2">
      <span class="cant">Competidores registrados: {{ participantsFilter.length }}</span>

      <button class="btn btn-primary" (click)="addParticipant()">Agregar</button>
    </div>
    <div class="table-responsive">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th class="names" (click)="toggleOrder('lastNames')">Apellidos
                <span *ngIf="orderBy === 'lastNames' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'lastNames' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal' ">⇅</span>
              </th>
              <th class="names" (click)="toggleOrder('firstNames')">Nombres
                <span *ngIf="orderBy === 'firstNames' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'firstNames' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="age" (click)="toggleOrder('age')">Edad
                <span *ngIf="orderBy === 'age' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'age' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="weight" (click)="toggleOrder('weight')">Peso
                <span *ngIf="orderBy === 'weight' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'weight' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="grade" (click)="toggleOrder('grade')">Grado
                <span *ngIf="orderBy === 'grade' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'grade' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="gender" (click)="toggleOrder('gender')">Sexo
                <span *ngIf="orderBy === 'gender' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'gender' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderBy !== 'gender' && orderDirection === 'normal'">⇅</span>
              </th>
              <th class="info">
                Division
              </th>
              <th class="info">
                Categoria
              </th>
              <th class="actions">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let participant of participantsFilter.slice(visibleParticipantsIndex, visibleParticipantsIndex + 10); let i = index">
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.lastNames">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.lastNames }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.firstNames">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.firstNames }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.age">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.age }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.weight">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.weight }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <select class="form-select text-S" [(ngModel)]="participant.grade">
                    <option *ngFor="let grade of validGrades" [value]="grade">{{ grade }}</option>
                  </select>
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.grade }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <select class="form-select text-S" [(ngModel)]="participant.gender">
                    <option [value]="'Masculino'">Masculino</option>
                    <option [value]="'Femenino'">Femenino</option>
                  </select>
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.gender }}
                </div>
              </td>
              <td>
                {{ participant.division }}
              </td>
              <td>
                {{ participant.category }}
              </td>
              <td class="action-column">
                <div class="action-button" *ngIf="!participant.isEdit">
                  <i class="fa fa-pencil px-2" aria-hidden="true" (click)="onEdit(participant)"></i>
                </div>
                <div class="action-button" *ngIf="!participant.isEdit">
                  <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(participant)"></i>
                </div>
                <div class="action-button" *ngIf="participant.isEdit">
                  <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEdit(participant)"></i>
                </div>
                <div class="action-button" *ngIf="participant.isEdit">
                  <i class="fa fa-times-circle" aria-hidden="true" (click)="cancelEdit(participant)"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center mt-3">
      <div class="left-rows" [ngClass]="{'clickable': visibleParticipants!=10}">
        <div *ngIf="visibleParticipants===10">
          <img src="./../../../../../assets/leftL2.png" alt="row">
          <img src="./../../../../../assets/leftL1.png" alt="row">
        </div>
        <div *ngIf="visibleParticipants!=10" (click)="showLessParticipants()">
          <img src="./../../../../../assets/leftM2.png" alt="row">
          <img src="./../../../../../assets/leftM1.png" alt="row">
        </div>
      </div>
      <span class="pageN">{{removeTrailingZero()}}</span>
      <div class="right-rows" [ngClass]="{'clickable': visibleParticipants<participantsFilter.length}">
        <div *ngIf="visibleParticipants<participantsFilter.length" (click)="showMoreParticipants()">
          <img src="./../../../../../assets/rightM1.png" alt="row">
          <img src="./../../../../../assets/rightM2.png" alt="row">
        </div>
        <div *ngIf="visibleParticipants>participantsFilter.length">
          <img src="./../../../../../assets/rightL1.png" alt="row">
          <img src="./../../../../../assets/rightL2.png" alt="row">
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <i *ngIf="increment===10" class="fa fa-expand px-2 b" aria-hidden="true" (click)="showAll()"></i>
      <i *ngIf="increment!=10" class="fa fa-compress px-2 b" aria-hidden="true" (click)="paginate()"></i>
    </div>
  </div>

  <div class="c " *ngIf="championship.stage!='Weigh-in'">
    <div class="description-center">
      <div class="filters-container">
        <div class="filter">
          <span class="filterS">Categorias</span>
          <div class="options">
            <button class="btn btn-filter" [class.selected]="selectedCategory === 'Todos'"
              (click)="filterCategory('Todos')">
              <i class="fa fa-circle " aria-hidden="true"></i>Ambos</button>
            <ng-container *ngFor="let category of categories">
              <button class="btn btn-filter" [class.selected]="selectedCategory === category.categoryName"
                (click)="filterCategory(category.categoryName)">
                <i class="fa fa-circle-o" aria-hidden="true"></i>{{category.categoryName}}</button>
            </ng-container>
          </div>
        </div>
        <div class="filter">
          <span class="filterS">Generos</span>
          <div class="options">
            <button class="btn btn-filter " [class.selected]="selectedGender === 'Ambos'"
              (click)="filterGender('Ambos')">
              <i class="fa fa-transgender " aria-hidden="true"></i>Ambos</button>
            <button class="btn btn-filter " [class.selected]="selectedGender === 'Femenino'"
              (click)="filterGender('Femenino')">
              <i class="fa fa-female" aria-hidden="true"></i>Femenino</button>
            <button class="btn btn-filter " [class.selected]="selectedGender === 'Masculino'"
              (click)="filterGender('Masculino')">
              <i class="fa fa-male" aria-hidden="true"></i>Masculino</button>
          </div>
        </div>
      </div>
      <div class="filters-container">
        <div class="filter">
          <span class="filterS">Edades:</span>
          <div class="options">
            <select class="select-filter" [(ngModel)]="selectedAgeInterval"
              (change)="filterAgeInterval(selectedAgeInterval)">
              <option value="Todos" [class.selected]="selectedAgeInterval === 'Todos'">Todos</option>
              <ng-container *ngFor="let ageInterval of ageIntervals">
                <option [value]="ageInterval.minAge + '-' + ageInterval.maxAge"
                  [class.selected]="selectedAgeInterval === (ageInterval.minAge + '-' + ageInterval.maxAge)">
                  {{ ageInterval.minAge }}{{ ageInterval.maxAge === 100 ? '+' : ' - ' + ageInterval.maxAge }}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonsS2 mt-4 mb-2">
      <span class="cant">Cantidad de Competidores: {{ participantsFilter.length }}</span>

    </div>
    <div class="table-responsive">
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th class="names" (click)="toggleOrder('lastNames')">Apellidos
                <span *ngIf="orderBy === 'lastNames' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'lastNames' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal' ">⇅</span>
              </th>
              <th class="names" (click)="toggleOrder('firstNames')">Nombres
                <span *ngIf="orderBy === 'firstNames' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'firstNames' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="age" (click)="toggleOrder('age')">Edad
                <span *ngIf="orderBy === 'age' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'age' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="weight" (click)="toggleOrder('weight')">Peso
                <span *ngIf="orderBy === 'weight' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'weight' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="grade" (click)="toggleOrder('grade')">Grado
                <span *ngIf="orderBy === 'grade' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'grade' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderDirection === 'normal'">⇅</span>
              </th>
              <th class="gender" (click)="toggleOrder('gender')">Sexo
                <span *ngIf="orderBy === 'gender' && orderDirection === 'asc'" class="fa fa-arrow-up"></span>
                <span *ngIf="orderBy === 'gender' && orderDirection === 'desc'" class="fa fa-arrow-down"></span>
                <span *ngIf="orderBy !== 'gender' && orderDirection === 'normal'">⇅</span>
              </th>
              <th class="info">
                <span>Division</span>
              </th>
              <th class="info">
                <span>Categoria</span>
              </th>
            </tr>
          </thead>
          <tbody>

            <tr
              *ngFor="let participant of participantsFilter.slice(visibleParticipantsIndex, visibleParticipantsIndex + increment); let i = index">

              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.lastNames">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.lastNames }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.firstNames">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.firstNames }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.age">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.age }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <input class="form-control text-S" type="text" [(ngModel)]="participant.weight">
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.weight }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <select class="form-select text-S" [(ngModel)]="participant.grade">
                    <option *ngFor="let grade of validGrades" [value]="grade">{{ grade }}</option>
                  </select>
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.grade }}
                </div>
              </td>
              <td>
                <div *ngIf="participant.isEdit">
                  <select class="form-select text-S" [(ngModel)]="participant.gender">
                    <option [value]="'Masculino'">Masculino</option>
                    <option [value]="'Femenino'">Femenino</option>
                  </select>
                </div>
                <div *ngIf="!participant.isEdit">
                  {{ participant.gender }}
                </div>
              </td>
              <td>
                {{ participant.division }}
              </td>
              <td>
                {{ participant.category }}
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="text-center mt-3">
      <div class="left-rows" [ngClass]="{'clickable': visibleParticipants!=10}">
        <div *ngIf="visibleParticipants===10">
          <img src="./../../../../../assets/leftL2.png" alt="row">
          <img src="./../../../../../assets/leftL1.png" alt="row">
        </div>
        <div *ngIf="visibleParticipants!=10" (click)="showLessParticipants()">
          <img src="./../../../../../assets/leftM2.png" alt="row">
          <img src="./../../../../../assets/leftM1.png" alt="row">
        </div>
      </div>
      <span class="pageN">{{removeTrailingZero()}}</span>
      <div class="right-rows" [ngClass]="{'clickable': visibleParticipants<participantsFilter.length}">
        <div *ngIf="visibleParticipants<participantsFilter.length" (click)="showMoreParticipants()">
          <img src="./../../../../../assets/rightM1.png" alt="row">
          <img src="./../../../../../assets/rightM2.png" alt="row">
        </div>
        <div *ngIf="visibleParticipants>participantsFilter.length">
          <img src="./../../../../../assets/rightL1.png" alt="row">
          <img src="./../../../../../assets/rightL2.png" alt="row">
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <i *ngIf="increment===10" class="fa fa-expand px-2 b" aria-hidden="true" (click)="showAll()"></i>
      <i *ngIf="increment!=10" class="fa fa-compress px-2 b" aria-hidden="true" (click)="paginate()"></i>
    </div>
  </div>
</div>