<div *ngIf="display" class='ages-selector-container'>
  <h1>Que Edades Participaran En El Campeonato</h1>

  <div class="rectangulo" *ngFor="let edad of ages" id="{{edad.ageIntervalName}}">
    <div class="informacion">
      <p class="titulo">{{edad.ageIntervalName}}</p>
      <p *ngIf="edad.maxAge==100" class="descripcion">+{{ edad.minAge }}</p>
      <p *ngIf="edad.maxAge!=100" class="descripcion">{{ edad.minAge }}-{{ edad.maxAge }} años.</p>
      <div class="weight-container">
        <p class="descripcion">Ver Pesos</p>
        <button class="boton-cuadrado" (click)="defineWeight(edad)">
          <img class="icono-boton2" src="./../../../../../assets/definir.png" alt="Eliminar">
        </button>
      </div>
    </div>
    <div class="botones">
      <!-- <button class="boton-cuadrado" (click)="openModal(modalContent,edad)">
          <img class="icono-boton" src="./../../../../../assets/editar.png" alt="Eliminar">
        </button> -->
      <button class="boton-cuadrado" (click)="deleteAge(edad)">
        <img class="icono-boton" src="./../../../../../assets/eliminar.png" alt="Eliminar">
      </button>
    </div>
  </div>

  <ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">ALERTA</h4>
    </div>
    <div class="modal-body">
      <div class='form-input-container'>
        <div class='description'>
          <label>Verifique que los intervalos de edades estén correctos. No se podrán hacer modificaciones.</label>
        </div>
        <div class="botones">
          <button class="btn btn-primary" (click)="c('Close')">Cancelar</button>
          <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
        </div>

      </div>
    </div>
  </ng-template>


  <button class="btn btn-primary" (click)="openModal(modalContent)">Imprimir Edades</button>
</div>
<div>
  <app-weight-selector *ngIf="!display" [ageInterval]="ageSelected" (returnToAgeSelector)="display = true">
  </app-weight-selector>

</div>