.ages-selector-container {
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente (uno debajo del otro) */

  text-align: center; /* Centrar el texto dentro de los elementos */
}
.rectangulo {
  width: 400px;
  padding-top: 4px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  //background-image: url("ruta-de-la-imagen.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  display: flex;
  align-items: center;
}

.informacion {
  flex: 1;
}

.botones {
  display: block;
  justify-content: space-around;

  flex: 0;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.descripcion {
  font-size: 28px;
  margin: 0;
}

.boton-cuadrado {
  width: 40px;
  height: 50px;

  background-color: #f2f2f2;
  border: 1px solid #ccc;

  text-align: center;
  //line-height: 100px;
  cursor: pointer;
  margin: 10px 20px 10px 20px;

  border-radius: 5px;

  display: flex; /* Hace que el contenido se comporte como un contenedor flexible */
  align-items: center; /* Centra verticalmente el contenido dentro del botón */
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.icono-boton {
  width: 25px;
  height: 25px;
}
.icono-boton2 {
  width: 30px;
  height: 25px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-footer {
  display: flex;
  flex-wrap: nowrap;
}
.weight-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botones {
  display: flex;
}
