<div *ngIf="championship">
  <div *ngIf="championship.stage==='ResponsiblesRegistration'">
    <div class="text-center mt-4 mb-2">
      <div class="buttonsS ">
        <span class="cant">Cantidad de Responsables: {{ responsibles.length }}</span>
        <button class="btn btn-primary" (click)="addResponsible()">Agregar</button>
      </div>
    </div>
    <div class="container">
      <div class="table-responsive">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th class="names">Nombre</th>
                <th class="names">Email</th>
                <th class="actions">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let responsible of responsibles" class="text-S">
                <td>
                  <div *ngIf="responsible.isEdit">
                    <input class="form-control text-S" type="text" [(ngModel)]="responsible.name">
                  </div>
                  <div *ngIf="!responsible.isEdit">
                    {{ responsible.name }}
                  </div>
                </td>
                <td>
                  <div *ngIf="responsible.isEdit">
                    <input class="form-control text-S" type="text" [(ngModel)]="responsible.email">
                  </div>
                  <div *ngIf="!responsible.isEdit">
                    {{ responsible.email }}
                  </div>
                </td>
                <td class="action-column">
                  <div class="action-button" *ngIf="!responsible.isEdit">
                    <i class="fa fa-pencil px-2" aria-hidden="true" (click)="onEdit(responsible)"></i>
                  </div>
                  <div class="action-button" *ngIf="!responsible.isEdit">
                    <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(responsible)"></i>
                  </div>
                  <div class="action-button" *ngIf="responsible.isEdit">
                    <i class="fa fa-floppy-o px-2" aria-hidden="true" (click)="confirmEdit(responsible)"></i>
                  </div>
                  <div class="action-button" *ngIf="responsible.isEdit">
                    <i class="fa fa-times-circle" aria-hidden="true" (click)="cancelEdit(responsible)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary" (click)="openModal(modalContent)">Confirmar</button>
    </div>
  </div>

  <div *ngIf="championship.stage!='ResponsiblesRegistration'">
    <div class="text-center mt-4 mb-2">
      <div class="buttonsS ">
        <span class="cant">Cantidad de Responsables: {{ responsibles.length }}</span>
      </div>
    </div>
    <div class="container">
      <div class="table-responsive">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th class="names">Nombre</th>
                <th class="names">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let responsible of responsibles" class="text-S">
                <td>{{ responsible.name }}
                </td>
                <td>{{ responsible.email }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">ALERTA</h4>
    </div>
    <div class="modal-body">
      <div class='form-input-container'>
        <div class='description'>
          <label>Verifique que los datos esten correctos.</label>
          <label>No se podra modificar una vez que se confirme.</label>
        </div>
        <div class="botones">
          <button class="btn btn-primary" (click)="c('Close')">Cancelar</button>
          <button class="btn btn-primary" (click)="confirm()">Confirmar</button>
        </div>
      </div>
    </div>
  </ng-template>