<div class='form-container'>
  <div class="inputs-container">
    <p class="nombre-form">Registro de Competidores</p>
    <hr>
    <form [formGroup]="inscritoForm" (ngSubmit)="send">

      <div>
        <div class='form-floating mb-3'>
          <input type="Ci del Inscrito" formControlName='participantCi' class='form-control fs-5'
            placeholder="00000000" />
          <label for="floatingInput">Ci del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="participantCi?.valid || participantCi?.pristine">
          <span *ngIf="participantCi?.errors?.['required']" class="form-text text-danger">
            El campo Ci del Inscrito es obligatorio.
          </span>
          <span *ngIf=" !participantCi?.errors?.['required'] && inputLength" class="form-text text-danger">
            El campo Ci del Inscrito debe ser del tamaño valido.
          </span>
        </div>
      </div>

      <div>
        <div class='form-floating mb-3'>
          <input type="Nombres del Inscrito" formControlName='firstNames' class='form-control fs-5'
            placeholder="Juan Carlos" />
          <label for="floatingInput">Nombres del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="firstNames?.valid || firstNames?.pristine">
          <span *ngIf="firstNames?.errors?.['required']" class="form-text text-danger">
            El campo Nombres del Inscrito es obligatorio.
          </span>
          <span *ngIf=" !firstNames?.errors?.['required'] && inputLength" class="form-text text-danger">
            El campo Nombres del Inscrito debe ser del tamaño valido.
          </span>
        </div>
      </div>

      <div>
        <div class='form-floating mb-3'>
          <input type="Apellidos del Inscrito" formControlName='lastNames' class='form-control fs-5'
            placeholder="Vargas Rocha" />
          <label for="floatingInput">Apellidos del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="lastNames?.valid || lastNames?.pristine">
          <span *ngIf="lastNames?.errors?.['required']" class="form-text text-danger">
            El campo Apellidos del Inscrito es obligatorio.
          </span>
          <span *ngIf=" !lastNames?.errors?.['required'] && inputLength" class="form-text text-danger">
            El campo Apellidos del Inscrito debe ser del tamaño valido.
          </span>
        </div>
      </div>

      <div>
        <div class='form-floating mb-3'>
          <input type="Edad del Inscrito" formControlName='age' class='form-control fs-5' placeholder="20" />
          <label for="floatingInput">Edad del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="age?.valid || age?.pristine">
          <span *ngIf="age?.errors?.['required']" class="form-text text-danger">
            El campo Edad del Inscrito es obligatorio.
          </span>
          <span *ngIf=" !age?.errors?.['required'] && inputLength" class="form-text text-danger">
            El campo Edad del Inscrito debe ser del tamaño valido.
          </span>
        </div>
      </div>

      <div>
        <div class='form-floating mb-3'>
          <input type="Peso del Inscrito" formControlName='weight' class='form-control fs-5' placeholder="70" />
          <label for="floatingInput">Peso del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="weight?.valid || weight?.pristine">
          <span *ngIf="weight?.errors?.['required']" class="form-text text-danger">
            El campo Peso del Inscrito es obligatorio.
          </span>
          <span *ngIf=" !weight?.errors?.['required'] && inputLength" class="form-text text-danger">
            El campo Peso del Inscrito debe ser del tamaño valido.
          </span>
        </div>
      </div>

      <div class="selector-container">
        <div class="form-floating">
          <select class="form-select" id="GradoSelector" formControlName='grade'>
            <option selected>*Elige el grado*</option>
            <option value='franja amarillo'>Franja Amarillo</option>
            <option value='amarillo'>Amarillo</option>
            <option value='franja verde'>Franja Verde</option>
            <option value='verde'>Verde</option>
            <option value='franja azul'>Franja Azul</option>
            <option value='azul'>Azul</option>
            <option value='franja rojo'>Franja Rojo</option>
            <option value='rojo'>Rojo</option>
            <option value='franja negro'>Franja Negro</option>
            <option value='negro'>Negro</option>
          </select>
          <label for="floatingSelect">Grado del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="grade?.invalid && !grade?.pristine && grade?.value==defaultGrado">
          <span *ngIf=" grade?.value==defaultGrado " class="form-text text-danger">
            Debe seleccionar un Grado.
          </span>
        </div>
      </div>

      <div class="selector-container">
        <div class="form-floating">
          <select class="form-select" id="SexoSelector" formControlName='gender'>
            <option selected>*Elige el sexo*</option>
            <option value='Masculino'>Masculino</option>
            <option value='Femenino'>Femenino</option>
          </select>
          <label for="floatingSelect">Sexo del Inscrito:</label>
        </div>
        <div class="alert" [hidden]="gender?.invalid && !gender?.pristine && gender?.value==defaultSexo">
          <span *ngIf=" gender?.value==defaultSexo " class="form-text text-danger">
            Debe seleccionar un Sexo.
          </span>
        </div>
      </div>

      <button [disabled]="inscritoForm.invalid" (click)="send()" class="btn btn-dark btn-lg">Registrar
        Competidor</button>
    </form>
  </div>
</div>
<button (click)="returnToSummary()">Volver</button>